[2014-11-11 15:47] mxriverlynn opened #13 "create basic example documentation"
I'm interested in using Wascally, as I've run in to issues and limitations in the library I'm currently using (rabbit.js). But I can't find a single working example to even start w/ Wascally.

I would like to request some very basic demo code be put together, to show various scenarios... starting with the most basic samples to show a message being sent and received, and moving toward other scenari

[2014-11-11 17:00] mxriverlynn opened #14 "autoDelete and durable?"
this is more a question than an issue...

it seems a little odd, to me, to have both autoDelete and durable set to true for an exchange / queue... which you have in all the specs. wouldn't autoDelete make durability meaningless? once the connection goes away, the queue is deleted... so why bother having it durable?

i'm certainly not claiming expertise here. am i missing something? is there a good

[2014-11-11 18:08] #14 closed, assigned to nobody

[2014-11-11 18:49] mxriverlynn opened #15 "is it possible to limit request handler to 1 thing at a time?"
I've got a basic request / response setup, based on what i found in the specs... it generally works as expected. i am able to make a request and send a reply.

in my specific scenario, though, i need to limit the work being done by the request handler, to 1 thing at a time. i've been trying to find a "prefetch" equivalent, which is what I've done in the past, to limit the number of items being wor

[2014-11-11 22:00] #15 closed, assigned to nobody

[2014-11-18 18:40] mxriverlynn opened #17 "issues w/ ack in "direct" exchanges"
I'm using a fairly simple configuration for a direct exchange, using a sample routing key

[code]

when I publish a message to `some-ex` with a `routingKey` of "foo", it publishes... but if I don't put a ridiculously long setTimeout around the message processing, the message will never be acknowledged in the queue.

essentially, I have to do this:

[code]

if I don't have that 500ms delay between

[2014-11-20 20:46] arobson opened #18 "Docs should state that .reply acks a message"
This isn't spelled out at all and leaves it up to the caller to wonder what actually happens :cry:

[2014-12-02 19:04] #17 closed, assigned to arobson

[2014-12-02 19:13] mxriverlynn opened #19 "Adding handlers after connection / subscription has been established"
Per conversation in #17 and my own experiencing of this issue, I wanted to open this as a bug report instead of just the conversation from that other ticket.

I ran in to this scenario today, where I have my [rabbus](/derickbailey/rabbus) library auto-subscribing to queues. If there are messages in the queue, the auto-subscription will not deliver them to my handlers. The subscriber to the queue i

[2014-12-04 01:22] mxriverlynn opened #20 "rabbit.handle is swallowing errors"
I'm not entirely sure where, as I don't understand the workings of postal... but `rabbit.handle` is swallowing exceptions.

demo code:

[code]

send a message to a queue with this code, and you will see this output:

[code]

but you will never see an exception being thrown, and never hitting the unhandled exception event in the process.

the complete code, with "sender" and "receiver" is available

[2014-12-04 10:02] #18 closed, assigned to arobson

[2014-12-04 10:07] #19 closed, assigned to arobson

[2014-12-04 10:07] #20 closed, assigned to arobson

[2014-12-04 10:07] #13 closed, assigned to arobson

[2014-12-17 05:11] dvideby0 opened #23 "Issue when replying to a message"
Im getting the following error message when I am using message.reply(). I was able to simply put a conditional in to see if `this._lastByStatus( 'ack' )` exists before doing the assignment but should this be unnecessary?
###### Code

`
var handler2 = rabbit.handle( 'exchange.name', function( message ) {
    try {
        t.get('search/tweets', { q: message.body.query , count: 100 }, function(err,

[2014-12-17 11:13] #23 closed, assigned to nobody

[2014-12-17 14:53] derickbailey opened #24 "force batch ack to process?"
I have a scenario where I stand up and tear down queue handlers on a rather frequent basis. Right now, I have to use a setTimeout function with a delay of at least 500ms before tearing down the handler, otherwise my messages get stuck in the queue as unacknowledged.

is there a way for me to force any batched acks to go through, prior to tearing down my handler? I don't like having this delay in m

[2014-12-23 00:24] geyang opened #25 "how to get 'topic' type exchange/que binding to work?"
Hi @arobson , thanks for this awesome library!

I got the example working, but I couldn't figure out how to define the bindings when the exchange is of type "topic". Would you please advice with a minimal example?

thanks!
Ge

[2014-12-23 03:11] #25 closed, assigned to nobody

[2014-12-25 13:03] derickbailey opened #26 "every connection creates a response queue, even if it doesn't need it"
as reported on my Rabbus project: https://github.com/derickbailey/rabbus/issues/1

i created a sample connection using this code:

[code]

and a response queue showed up in my queue list... i have not defined any queues, i haven't tried to do any request/response work... all i did was create a connection, and the response queue showed up in my queue list.

it shouldn't create a response queue unti

[2015-01-05 17:26] arobson commented on #26
@derickbailey, @episodeyang - Happy New Year :tada: This is actually intentional. If it didn't behave this way, your first request message couldn't even be sent until after the response queue had been created on the server. Since a a single queue without messages isn't a performance/resource consideration, I'm curious as to why this feels like a bug. I'm reluctant to change this behavior as it wou

[2015-01-05 17:27] arobson commented on #24
@derickbailey - just letting you know that I haven't forgotten about this. I am just getting back from a vacation and will be looking at this again this week.

[2015-01-05 17:52] episodeyang commented on #26
I will defer the opinion to @derickbailey since he is more experienced. :P

[2015-01-06 02:11] derickbailey commented on #26
Happy New Year :tada:! And what a way to bring it in - with me having nothing better to do with my vacation, than complain about open source on github issues :D

Ok, I get the reasons why. I just don't agree with the reasons. There's 2 potential arguments that I have against the feature being automatic.

There's a very minor resource/performance concern - having the extra queue, extra channel, ext

[2015-01-09 07:47] episodeyang commented on #25
haha everything I come back to this post for reference, I am amazed by how awesome it is! #learningFromGurus.

[2015-01-14 08:04] yamii opened #27 "What happens when we add many exchanges with the same name? How does this affect our application?"

[2015-01-14 15:00] derickbailey commented on #27
RabbitMQ is fairly intelligent about this. If it finds a queue / exchange / whatever with the same name, it returns the existing one to you. It won't try and re-create the same one again and again.

Something to keep in mind, though, when this happens RabbitMQ won't change the existing exchange / queue definition. The first request to create will determine how it is set up. All subsequent requests

[2015-01-20 02:23] derickbailey opened #29 "issue with queue `limit` options?"
I'm running in to an issue where a subscriber with a `limit: ##` on a queue is stopping work after a few seconds... and i don't know why.

here's the scenario: i had some busted code in SignalLeaf, and it racked up 56,000 messages in a queue... yeah. busted code, plus a few days of time :)

so i fixed the code and put in a queue limit of 25 (instead of the unlimited, causing crashes from eating al

[2015-01-20 20:28] arobson commented on #29
@derickbailey that's troubling. I'm not sure about the cause on this one. I'm wrapping up a set of refactoring/changes to another one of our libs and once that is done, I plan to tackle your PR and issues. I think I'd heard one of our services was acting odd re: no longer getting messages and I wonder if it's related to this. Thanks for the detailed bug report :+1:

[2015-01-20 21:00] derickbailey commented on #29
thanks, yo. i'm on site with a client today, but i'm going to try and dig in to this tonight or tomorrow. it affects both my personal work and my client work, so it's something i need to resolve asap.

at the very least, i hope to be able to reproduce the problem with wascally directly. if i can, i'll post the code that i use to reproduce the problem.

there's always the chance that it's my rabbus

[2015-01-21 15:06] arobson commented on #29
@derickbailey kind of important questions: what version of rabbitmq server are you running? Are there any other queues with unacknowledged messages at this point? There have been some RabbitMQ server/API changes since 3.3.0 that might be the underlying cause (given that you're on 3.3.0 or later and you have other queues with unacknowledged messages).

[2015-01-21 15:30] derickbailey commented on #29
RabbitMQ 3.3.5, Erlang 17

No unacknowledged messages in other queues. There were a total of around 56,000 messages between two queues. One of them had about 3,500 and the other queue had the remaining amount.

[2015-01-21 15:33] arobson commented on #26
@derickbailey - You can see how far behind I'd gotten on Rabbit related things, but this is an interesting write-up on a new feature for 3.4.0: https://www.rabbitmq.com/direct-reply-to.html. You can see how they're describing how their new feature removes the need for what wascally is doing in this issue. I will likely work on a patch that will use direct RPC in a configurable manner.

[2015-01-21 16:05] derickbailey commented on #26
this gets even more fun with a realization that i had yesterday: i need a long-living, persistent reply queue

in my client system, replies are becoming critical. i am sending out requests for jobs to be worked, and I must receive a reply telling me the job was done (or errored, or whatever).

one of the other requirements in my system, is that the central hub (the brain of the system) is able to

[2015-01-21 16:07] derickbailey commented on #26
re-reading that direct reply-to feature and it definitely won't work for what i need. the no-ack requirement, the default exchange requirement... nope.

[2015-01-21 16:17] arobson commented on #26
I follow. I would say that's not a typical messaging pattern (long-lived/resilient RPC). Have you considered not treating this like request/response? You could just treat this like simple message handlers and persistent queues. Typically, the only reason I use request/response(aka RPC) on a message broker is so that I can get competing consumer style scale-out on request handling. Otherwise, there

[2015-01-21 16:24] #27 closed

[2015-01-21 16:27] derickbailey commented on #26
i hate calling this RPC, because it's not really RPC. i get it that most people do RPC this way, and that it's common... but i'm a stickler for semantics :D

yeah, i've got that book - started reading it about 6 years ago, when i first started doing composite application design and distributed systems (using C#, webspheremq and XMS.NET at the time - ask John Mathis if he remembers Digital Logbook

[2015-01-21 17:40] arobson commented on #29
@derickbailey - Take a look at this: https://gist.github.com/arobson/99c7d62f55463c87f77a. I am using this to run 100k messages to 2 queues. One has a limit of 10 and the other of 50. Right now, I'm 55k messages into queue 2 and 11k into queue 1 without any issues so far. The messages have hit the queues at this point so queue 1 is showing > 70k messages ready.

This is on 3.4.3 (R16B03) because t

[2015-01-21 19:40] derickbailey commented on #29
this is looking like a problem with my app-specific code, and not wascally or rabbus after all.

i just ran a test w/ 10,000+ messages in a queue using my rabbus library and it worked as expected using a limit of 50.

sample code in question https://gist.github.com/derickbailey/7f039bbce7dad9e28bb4

(run the "receiver.js" once, to set up the queue and exchange binding, before running the sender...

[2015-01-22 19:43] arobson commented on #29
@derickbailey - one thing to check for is whether or not the consumer is going away on the queue. You can do this by pulling the queue up in the dashboard and looking at the consumer count in the overview section. If that's mysteriously dropping to 0 then we just need to figure out why.

I am working on adding debug logging to wascally so that we'll be able to turn that on when things seem odd and

[2015-01-24 15:43] FGRibreau opened #30 "`pass` should be escaped"
Currently `pass`, for instance, is not escaped. So a password like `aaaa>AAAA#N9r0bcj631sG` will make the amqp connection fail.

[2015-01-25 05:55] arobson commented on #26
@derickbailey I think that eventually I would like to provide a way for consumers to plug in their own req/resp "strategy" (with the present method and the new direct-reply as built in ones to choose from). I've marked this for 0.2.1 because I've just got too many other things in other libs that are immediate needs. Hopefully I'll have 0.2.0 done by Monday. #famouslastwords

[2015-01-25 15:00] derickbailey commented on #26
sounds good, yo. i like the idea of pluggable strategy and totally understand having other priorities for wascally. this is a nice-to-have, not a critical bug right now.

[2015-01-27 14:45] arobson commented on #29
I'm going to close this issue for now, but feel free to open it back up if it turns up again and you have more information I can use to reproduce.

[2015-01-27 14:45] #29 closed

[2015-02-01 19:26] nicholaswyoung opened #33 "Basic Demo for Simple Worker Queue"
I need a basic worker queue, similar to [Sidekiq](http://sidekiq.org) or [Kue](http://learnboost.github.io/kue). The publisher doesn't need to receive responses from the worker, so this should be a simple unidirectional queue pattern &mdash; and yet, I can't see how to implement it with Wascally.

Any tips?

[2015-02-01 19:58] arobson commented on #33
@nicholaswyoung - did you look at https://github.com/LeanKit-Labs/wascally/tree/master/demo/pubsub? This has the slightest bit more than what you'd need since the publisher and subscriber do a bit of coordination up front.

How familiar are you with RabbitMQ/AMQP itself? The publisher confirms are the broker telling the publisher, "I have successfully routed a message", not anything beyond that. T

[2015-02-02 00:19] nicholaswyoung commented on #33
@arobson I'm decently familiar with AMQP/RabbitMQ, but not an expert by any means. I did see the pubsub demo, and it confused me more than anything. Maybe that's because I'm not that well versed in AMQP lingo, but the innards of Wascally and how to configure it are a bit perplexing.

As I understand AMQP, I don't have to define an exchange and bind queues to it *unless I want explicit routing thro

[2015-02-02 03:21] arobson commented on #33
@nicholaswyoung I would not recommend using the built in exchanges, even for the simplest use cases, but that's just my opinion.

The topology class is setting up shared topology between two services. This is done to eliminate the possibility of race conditions (e.g., the subscriber starts first, tries to bind its queue to an exchange but it hasn't been created yet). You don't _have_ to use a shar

[2015-02-02 03:29] nicholaswyoung commented on #33
This really clears things up. I'll give it a shot in the morning, and ask specific questions if I have them. Thank you for the detailed explanation!=

[2015-02-02 14:50] derickbailey commented on #33
@nicholaswyoung FWIW, I built [rabbus](https://github.com/derickbailey/rabbus) to give me an easier way to manage things since I found myself repeating the same code over and over again. I prefer to have individual objects for each of my publishers and subscribers, based on the message type, as well. If you do look at rabbus, you'll want the pub / sub objects, which are configured as a fanout exch

[2015-02-02 16:26] nicholaswyoung commented on #33
@derickbailey It's the latter case. If one message handler receives and successfully processes the job, it should be marked as done and removed from the queue. All jobs need to happen once, in an ideal scenario &mdash; though I could easily configure them to be idempotent.

Am I going down the wrong path?

[2015-02-02 16:59] derickbailey commented on #33
@nicholaswyoung yeah, I think you're heading down the wrong path with fanout. what you're describing is more of a direct exchange

where a fanout exchange will send the received message to all queues that are bound to the exchange / routing key combination, a direct exchange will send the message to only 1 queue that matches the exchange / routing key combo. even if there are multiple queues bound

[2015-02-02 17:20] derickbailey commented on #33
also - if you're interested in this w/ rabbus, the direct exchange is baked in as the "send / receive" types

[2015-02-02 19:47] nicholaswyoung commented on #33
@derickbailey @arobson I'm not sure what's happening, but everything seems to work fine when configured as a fanout exchange. The moment I reconfigure as a direct exchange, no messages are sent or received.

Maybe there's a specific piece of configuration I'm missing?  https://gist.github.com/nicholaswyoung/78c7e95607a68f514a29

[2015-02-02 20:15] derickbailey commented on #33
did you delete the exchange before re-creating it?

if not, that is the problem. rabbitmq will not re-define an existing entity (exchange, queue, etc). If you try to re-define an existing entity, it silently doesn't dot anything and can cause the exchange to not work.

i ran in to this exact problem over the weekend, and had to manually delete an exchange so it could be re-built correctly, this mo

[2015-02-02 20:20] nicholaswyoung commented on #33
@derickbailey I didn't.... I bet that's the error. I had no idea it stores exchanges like that.

In your opinion, would it be better to use Rabbus for this?

[2015-02-02 20:25] derickbailey commented on #33
"better" is a matter of preference... i don't expect Rabbus to fit the opinions of everyone that wants to use Wascally. I'd recommend using Wascally for now, and understand how it works. If you find that you want to trade flexibility for a smaller API, then Rabbus might be a good idea. But seriously - Rabbus does limit your flexibility. I built the object pairs with very specific opinions. If you

[2015-02-02 20:46] nicholaswyoung commented on #33
@derickbailey Clearing RabbitMQ's cache fixed the issue. I think everything is working as expected now. Thanks to you and @arobson for walking me through this!

[2015-02-02 20:46] #33 closed

[2015-02-09 18:28] derickbailey opened #36 "with multiple handlers in a single process, if one nacks the message will infinite loop between handlers"
scenario:

* single nodejs process
* 2 listeners for the same message type, on the same queue
* 1 of the listeners `nack`'s the message
* other listener `ack`'s the message
* the message will be put on infinite loops, passing between the two handlers

see https://gist.github.com/derickbailey/a962cb12cf51b2b26960 for a demonstration of this.

i expect (need) the `ack` the to stop the message from p

[2015-02-09 18:34] derickbailey commented on #36
FWIW, this is "OMGTHESKYISFALLING" level bug for me, right now. I've spent 3 days tracking down the issue, from my app code, to my rabbus library and down to the demo code above. all the while, production issues are killing me.

yeah, i'm being "that guy" ... just hoping a desperate plea can bump the priority on this.

[2015-02-09 19:08] arobson commented on #36
@derickbailey - I'm not sure I understand why you would have two handlers for the same message type that each result in a different resolution. I would *really* like to understand the use case for this.

My curiosity aside, the reason for this has to do with a few things:
 1. wascally uses postal to dispatch messages to handlers - all handlers with that message type will receive that message
 2. m

[2015-02-09 19:50] derickbailey commented on #36
## why i need this

this goes back to the previous conversations we've had about my not being able to use request/reply, and how i am using the `correlationId` to ensure the right object is processing the messages that come back from external systems.

i'm building a job scheduling system that allows multiple schedules to be active at any given time. each schedule contains knowledge of what jobs a

[2015-02-09 20:08] derickbailey commented on #36
ultimately, the current behavior seems to be at odds with the idea of correlationId. I need to be able to use the correlationId to determine which handler can process which messages.

right now, the suggested workaround is to not use a correlationId, but to do more of a lookup table style where i have a single handler that takes a piece of data from the message, does a lookup for the object instan

[2015-02-09 20:25] arobson commented on #36
@derickbailey - I think I follow - you're saying that each schedule instance in memory registers its own handler with wascally for the same message type. so that the code might be

[code]

You will need the latest postal to pull this off, but this should work:

[code]

There's certainly more conversation that could be had around approach but at the end of the day, you know your system best and you

[2015-02-09 20:28] arobson commented on #36
@derickbailey - hopefully you won't need it, but if you want to try and work through this issue at some point and have screen hero, I'd be happy to see if we can't get the above approach working so you're not stuck.

[2015-02-09 22:03] derickbailey commented on #36
i've been working on getting this idea in place, but haven't had any luck yet. so far, it seems to be having the same problem... though not as bad as before. i'm still ending up with multiple listeners handling the incoming message, even when i have a correlationid.

not sure what to do at this point.

[2015-02-10 00:13] arobson commented on #36
If you're only calling rabbit.handle( 'messageType' ) one time (and you should only be doing this once per type), there's no way for the handler to get the same message multiple times. The example above is intended to subscribe to the type once and use a postal channel to publish to a unique topic. Each scheduler should only subscribe to the topic matching its id once; making it impossible for a s

[2015-02-10 16:15] derickbailey commented on #36
yet another stream of thoughts, here.

that's the problem i ran in to. my intermediate layer (rabbus) creates a handler per instance.

is this documented somewhere? i've never seen anything that says this (not that i have extensive community knowledge...) and it is a common / well known pattern in messaging

i don't need the message to go back to the queue in this case. i need postal to stop dispa

[2015-02-10 18:16] arobson commented on #36
@derickbailey -
## [Selective consumer](http://www.eaipatterns.com/MessageSelector.html)
Selective consumer is a fairly common pattern but kinda dangerous as it assumes you have access to nearly unbound computing/network resources. Instead of routing intelligently, you just blast copies of messages all over the dang place and make your consumers responsible for filtering out the crap they don't wa

[2015-02-11 19:57] #30 closed

[2015-02-11 19:57] #26 closed

[2015-02-11 19:57] #24 closed

[2015-02-12 09:45] sauravbiswasiupr opened #37 "Safely closing a connection to the message broker"
Hi, Is there a way to close the connection when needed by using a function call in this module, akin to what one does in amqlib (e.g conn.close() ). If such a function is not provided, is there any another way to close the connection safely ?

[2015-02-12 14:54] derickbailey commented on #37
hi @sauravbiswasiupr

there's a `close` and a `closeAll` method on the main module, directly. Each of these returns a promise, so you know when the connection is done closing.

[code]

or if you want to close a named connection, you can use the `close` method with a string name

[code]

[2015-02-12 15:11] sauravbiswasiupr commented on #37
@derickbailey , thanks. I managed to figure it out as I looked through the specs folder.

[2015-02-12 17:28] derickbailey commented on #36
after giving this some more thought over the last few days, I'm likely going to go with option 2 that you described.

turns out this is a pattern i've done before, with client side js and websockets: http://lostechies.com/derickbailey/2012/04/19/decoupling-backbone-apps-from-websockets/ - so it's already familiar, and likely will end up being a better solution.

thanks again for all the feedback a

[2015-02-12 17:28] #36 closed

[2015-02-16 03:37] neverfox opened #38 "Making sense of demo"
I cannot seem to make any sense of the demo. I'm starting the publisher first, then the subscriber. The subscriber sends a request every 3 seconds and the publisher picks up all of them and then starts the long running for-loop on the first one. The subscriber doesn't receive anything until the for-loop is done (which I didn't expect). It keeps sending requests (about 43-44 of them) and the reques

[2015-02-16 07:18] neverfox opened #39 "Unacked messages piling up in response queue"
I have a producer/dispatcher/consumer topology that involves one case of `request` instead of `publish` but since adding that, the related response queue is filling up with unacked messages, despite the fact that I'm calling `reply` on the consumer side and `res.ack` in the promise `then` of the request. What could be going on here? I even tried explicitly `ack`ing the message in the consumer, wit

[2015-02-17 12:34] arobson commented on #38
@neverfox - whoa, this is definitely *not* expected behavior and reflects a relatively serious defect introduced in the 0.2.0 change set. I have only managed to narrow it down to the commit 490e680, which sadly is huge because it was a squash of several smaller commits that included refactoring and a lot of new tests.

If I go back to 84b8193, everything in the demo works great. I've been profilin

[2015-02-17 20:33] derickbailey opened #40 "wascally wabbit on redhat losing consumers?"
have you seen wascally drop consumers, randomly?

i've got a situation that i can almost reproduce on command, in RedHat Linux 7 (64bit) where my consumers drop.

is there an event or something in wascally that i can latch on to, when this happens, so i can get notified?

[2015-02-17 21:12] derickbailey commented on #40
i'm digging in to logs and seeing this:

[code]

some google-fu turns up several stackoverflow posts that say a message is being ack'd on the wrong channel. this one, for example: http://stackoverflow.com/questions/25496882/why-is-rabbitmq-keep-logging-unknown-delivery-tag-basic-ack

at least one post said that trying to ack the same message more than once will do this, as well.

any way to know w

[2015-02-17 21:19] arobson commented on #40
Which version of wascally and what version of Node?

If you're on 0.2.0, try adding the following before starting your service via node:
[code]
You should see messages about what tag is getting ack'd/nack'd/rejected on which queue/connection.

You can take it a step further and get pretty detailed reporting on how wascally is trying to calculate batches with the following:
[code]

I'd be very inte

[2015-02-17 21:42] derickbailey commented on #40
node v0.10.36 (just updated this), RMQ v3.4.4 (just updated to this, as well), wascally v0.2.0

I'll add the debug flag and see what it says. is there a particular folder this is logged to, or does it go to stdout?

[2015-02-17 22:15] arobson commented on #40
The debug flag just causes everything to go to stdout using the debug lib. Really odd that the OS seems to make a difference.

[2015-02-18 00:37] neverfox commented on #38
Sorry to hear that it was a real issue and not just my misunderstanding of AMQP. I wonder now if this is why I might have been seeing what I was seeing in #39. I'll try it again off the older commit you mentioned.

[2015-02-18 01:03] neverfox commented on #39
I can confirm that this problem is also a result of the bug from #38.

[2015-02-18 01:39] arobson commented on #39
@neverfox - Thanks for trying that out. I'm stumped. I've spent a good bit of time slowly importing the new approach to the working commit trying to find what's caused the defect and nothing yet.

[2015-02-18 02:44] neverfox commented on #39
I tried taking a look myself but, you're right, it's a lot. I wouldn't know where to begin.

[2015-02-18 02:54] arobson commented on #39
I've narrowed it down to something in the new exchangeFsm and amqp/exchange modules. Basically, I checked out the original exchange module and have been gradually back-porting changes to it. I've been surprised by what it hasn't turned out to be so far. I'm sure it's going to be something really face-palm-worthy when I find it.

[2015-02-18 03:59] neverfox commented on #39
Please keep me posted!

[2015-02-18 09:12] arobson commented on #39
@neverfox - [here are the lines that shall live on in infamy](https://github.com/LeanKit-Labs/wascally/blob/master/src/exchangeFsm.js#L73-L75). They were introduced so that when wascally has failed to connect to all nodes multiple times, it will reject all outstanding publish promises. (previously, they could just hang indefinitely if you never got a connection.

In hind-sight, this was a bad appr

[2015-02-18 15:50] derickbailey commented on #40
it looks like v0.2.1 of wascally fixed this issue. i deployed the new version this morning and haven't been able to reproduce the problem yet. going to close this for now. if i see it happening again, i'll reopen the ticket.

[2015-02-18 15:50] #40 closed

[2015-02-18 23:12] #38 closed

[2015-02-18 23:12] #39 closed

[2015-02-18 23:12] arobson commented on #37
Added a section in the README to address this. Sorry for the confusion.

[2015-02-18 23:12] #37 closed

[2015-02-19 01:58] neverfox commented on #39
:+1:

[2015-02-20 10:32] nover opened #43 "Handle messages in "ready" state on reconnect"
I'm experiencing trouble with processing items that are "ready" in the rabbitmq queue, when my worker reconnects, is this expected behavior or a bug? A bit more detailed:

I'm currently testing wascally out where i have a "producer" that puts an amount of messages onto the queues, and then the worker will be started later, however, the worker does not process the "ready messages". The one thing I

[2015-02-20 10:39] nover commented on #43
I just updated via npm to the latest wascally version 0.2.2 and now it seems to work properly, sorry for not testing this first!

[2015-02-20 10:39] #43 closed

[2015-02-25 05:41] neverfox commented on #39
Unfortunately, I'm getting unacked responses again. `msg.reply` in the consumer just doesn't seem to be acking the message.

[2015-02-25 05:45] arobson commented on #39
@neverfox - just so I'm clear: is it the request messages that aren't getting ack'd or the replies that aren't? msg.reply should ack the original request message, the response has to be ack'd explicitly.

[2015-02-25 05:55] neverfox commented on #39
Oops. that's what I meant. In the consumer, I call `msg.reply` and then in the dispatcher, after the promise resolves, I'm calling `res.ack()`. So I thought I had it covered. So it's `res.ack()` that isn't doing what I expected then, I guess.

[2015-02-25 05:59] arobson commented on #39
I will try to repro this and get back to you. Just for reference - are you on 0.2.2? What version of Node, RabbitMQ and OS?

[2015-02-25 06:00] neverfox commented on #39
0.2.2, Rabbit 3.4.4, Arch linux x64 and iojs 1.3.0

[2015-02-25 06:01] arobson commented on #39
If you have time, would you clone the repo and then run the unit tests? I've never tested this on arch linux or iojs. (I would be surprised if either broke it though)

[2015-02-25 06:05] neverfox commented on #39
Got through most of it and failed on the Integration Tests:

Error: Failed to create exchange 'wascally-ex.consistent-hash' on connection 'default' with 'Channel ended, no reply will be forthcoming'

[2015-02-25 06:08] arobson commented on #39
ah, I need to document this better in the readme,  you'll need to turn on the consistent-hash-exchange plugin. if you run
[code]
and then restart the server, the integration tests should get past that issue. Thanks for trying the tests.

[2015-02-25 06:11] neverfox commented on #39
No problem. Unfortunately, I'm on a deadline so I won't have time to sort this out right now. I'll just stick with publishing for now, since I don't really need a reply. Thanks for looking into it though. Let me know how the above code works for you.

[2015-02-25 22:09] esatterwhite opened #45 "port option not honored"
In the [Adapter](https://github.com/LeanKit-Labs/wascally/blob/master/src/amqp/connection.js#L39) the port option is never checked. It is just looking for `RABBIT_PORT` and falls back to the default rabbitmq port.

[2015-02-26 15:47] derickbailey opened #47 "use of `batchAck`, and clearing out some messages while other still run?"
Regarding the fixes for #24 - it looks like there is a `wascally.batchAck()` method available now. Is that the correct method to use when I want to force acknowledgements to process?

I'm currently running in to a scenario where I have a very very very long (20+ minute) job running, with 5 other jobs that have completed. The other 5 jobs are sitting in unacked mode in rabbitmq, in spite of the wor

[2015-02-26 17:31] derickbailey commented on #47
In my testing of `batchAck` this is not fixing the situation that I am running in to.

It looks like the fixes in #24 are allowing all messages to finish acking before closing the connection, which is definitely a good thing.

I was hoping that those fixes would also allow me to force `ack` back to the queues, as needed. However, it does not appear to be allowing this. Even when I call `batchAck`

[2015-02-26 17:38] arobson commented on #47
There is no doc for batchAck because it is not for external consumers. It's always been there and is what is getting called periodically to trigger the process. You can't ack messages out of order and batch so no amount of calling it will ack messages when your app is hanging on to one.

Is there a reason you are concerned about those messages? They will resolve once the earlier message completes.

[2015-02-26 18:28] derickbailey commented on #47
Ok, yeah. I'll take that batchAck call out. I was reading through the code and I see what you're saying about it now.

For my scenario and issues, yes this is due to queue limits.

### The Setup

In my job scheduling system, I have the idea of job "sizes" ... small, medium, large, etc. Each of these sizes is a rough approximation of how much horse power is needed to run the job on the servers. It'

[2015-02-26 20:42] derickbailey commented on #47
after some discussion, we may be moving away from the current architecture that leaves messages unack'd.

our current workaround is to stand up multiple instances of my agent process, with the limit set to 1 on each instance. doing that allowed my code to work as needed, but at the cost of a lot of running processed.

personally, i still feel the need to process the ack batch, while ignoring the o

[2015-02-26 20:47] arobson commented on #47
Yeah, what you really need is the ability to turn off batch acknowledgement for specific queues and then have the ack/nack/reject calls take place immediately.

The reason wascally does *not* do this is that it defaults for the fastest approach. In your case, you're processing things so slowly, you're not going to know a difference. Wascally's batching approach results in a 400% perf improvement o

[2015-02-26 20:49] derickbailey commented on #47
WOAH! I knew it would have an improvement, but that's just darn impressive!

If there's anything I can do to help look in to this solution, let me know. If you have an idea for a direction and can point me down the path, I would love to help more than just opening tickets. :)

[2015-02-26 23:05] arobson commented on #45
Resolved in #46

[2015-02-26 23:05] #45 closed

[2015-02-26 23:52] arobson commented on #47
@derickbailey - that would be awesome :smile:, I would definitely appreciate the help.

### add a queue setting
First step would be to add a property to the queue settings to turn off batch behavior. I like `noBatch` myself.

### don't allow the setting to get passed to amqplib/rabbit
Add the new option as an arg on this line to prevent it from being sent to amqplib as a queue arg: https://github.

[2015-02-27 01:28] derickbailey commented on #47
awesome! that's a far better technical spec than I've received from any business analyst in my career. thanks for the direction on this - off hand it all makes sense (having reviewed the code many times in recent weeks) :)

I'll likely work on this tomorrow afternoon... though, maybe tonight cause I drank too much caffeine and feel the need to code something.

[2015-02-27 04:31] derickbailey commented on #47
pulling a note from #39 to get the tests up and running properly

`rabbitmq-plugins enable rabbitmq_consistent_hash_exchange`

[2015-02-27 05:03] derickbailey commented on #47
i've got most of a test working at this point (learning a lot about your integration test suite in doing so).

question:

what would this assertion look like?

i have a handler set up to `message.ack()` on all messages except for the first one and I am keeping track of how many messages, total, that I receive in my handler.

does the assertion just look at `messageCount.should.equal(numMessagesSen

[2015-02-27 05:16] derickbailey commented on #47
clearly my test is testing the right scenario... but my assertion is wrong because the test "passes" (false positive) even when the actual queue is stuck like this, forever:

![image](https://cloud.githubusercontent.com/assets/75190/6407800/7cc46c6e-be0d-11e4-862e-deb8780bc4c0.png)

[2015-02-27 12:53] arobson commented on #47
@derickbailey try moving the `limit` to the queue from the exchange declaration, that should do it :)

[2015-02-27 13:01] jhaugh42 opened #48 "Clarification of "message type" in handlers"
First, thank you for this library!

I have a question about how the handlers are able to handle messages based on the `type` property.

Calling `handle` returns a subscription:
[code]
The first parameter of `handle` is referred to as `message type`.  In the subscription returned, I see that the subscription's `topic` field is set to the value that was passed for type.  This appears confusing, thou

[2015-02-27 13:57] derickbailey commented on #47
#facepalm yeah, that would do it. :)

i got the spec correctly failing, so i'm on to putting in the fix!

[2015-02-27 14:27] derickbailey commented on #48
the message type is something that wascally adds on top of RabbitMQ. It is not part of the AMQP spec or the routing that happens with RabbitMQ exchanges and queue bindings. It's a feature that allows you to aggregate messages from any number of queues and have them go to the same handler, or allows you to take messages from one queue and have them go to any number of handlers. think of it like an

[2015-02-27 14:42] derickbailey commented on #47
regarding the "resolution operations" (noAck vs noBatch vs untracked):

if the noBatch setting is true, do I always call getNoBatchOps? what is noAck and noBatch are both true? wouldn't noAck override noBatch? If you have noAck set, then noBatch shouldn't do anything because you've said that you do no want to ack anything at all.

[2015-02-27 14:52] arobson commented on #47
If noAck was chosen, then untracked ops are the ones you want. We still need to allow nack and reject, but ack should be a noOp. You can also choose to provide a boolean to the getNoBatchOps to indicate whether or not ack should actually be an ack or a noOp, your call :)

[2015-02-27 15:40] derickbailey commented on #47
decided to go w/ the bool passed in to getBatchOps, to handle noAck and noBatch.

but at this point i'm having issues with this, and i'm not sure where. I've done my best to follow your suggested path, but i'm only seeing 1 message come through my handler in the spec, now. I'll try to keep digging. i may need some help spotting what i've got wrong, though. see next commit that i'm attaching

[2015-02-27 16:53] derickbailey commented on #47
could the issue be here? https://github.com/derickbailey/wascally/blob/3cc9edc8e4f431743dafaeea972bbb07e64c30be/src/amqp/queue.js#L212

when I change this line to be `if ( data.activated && !ops.noAck && !ops.noBatch ) {` then I end up with a failure saying I got 5 out of 10 messages, instead of just 1 out of 10.

I'm not entirely sure what to do here, though. not sure if this really is the proble

[2015-02-27 17:05] derickbailey commented on #47
see previous commit ('prevent noBatch messages from going to unHandled'). this passes now, but I fear I'm doing something horrible.

[2015-02-27 17:56] jhaugh42 commented on #48
It does, yes.

Granted my producer code (non-wascally) is not adhering to the conventions used in wascally.  I can therefore address the behavior I've encountered by modifying my producer code to specify the `type`.

The documentation mentions this but might be a bit more clear about the convention, in the event others run into the same issue.  Also, it may be beneficial to have some way of notify

[2015-02-27 17:56] #48 closed

[2015-02-27 19:18] derickbailey commented on #47
I'd like to move this conversation over to PR #49 to start code reviewing and cleaning up anything I did wrong, handle any missing work (like documentation), etc. If that sounds good to you, @arobson, go ahead and close this ticket.

[2015-03-02 06:07] episodeyang opened #50 "Way to tell how many messages are in the que?"
Hi,

Is there a way to know how many jobs are in each que?

I am trying to do some load balancing. When new workers start, I want them to connect to the longest que.

Thanks!

Ge

[2015-03-02 08:37] arobson commented on #47
@derickbailey - thanks again for this. PR is merged and NPM is now at 0.2.3.

[2015-03-02 08:37] #47 closed

[2015-03-02 08:39] arobson commented on #50
@episodeyang - there isn't presently a way to get this kind of metadata consistently from the AMQP protocol. If you enable the management console, it turns on their HTTP API which you can get all kinds of detailed metadata about the server/cluster from.

Eventually, we would like to add support for getting this in wascally, but it will probably be a bit before that feature gets added.

[2015-03-02 21:30] neverfox commented on #39
Ok so I created a very simple example that leaves a reply unacked, despite the fact that `reply.ack()` is called in `request.js`. RabbitMQ 3.4.4, Erlang 17.4, node.js 0.12.0 or io.js 1.4.2, wascally 0.2.3. All tests pass.

Hopefully, I'm just doing something wrong.

[code]

[code]
[code]
[code]

[2015-03-05 18:32] dvideby0 opened #51 "dead letter routing key?"
I see options for a dead letter exchange but Im looking for an option to have the routing key as well. Is this possible to set? Following this article https://www.cloudamqp.com/docs/delayed-messages.html

[2015-03-05 23:52] dvideby0 commented on #51
I added a pull request to fix the issue. https://github.com/LeanKit-Labs/wascally/pull/52

[2015-03-06 21:54] jarrettmeyer opened #53 "Is there a better way to get to channel prefetch?"
Currently, I am getting to the underlying channel prefetch function by using the following. Is there a better way to do this? It looks really odd to see `.channel.channel`.

[code]

[2015-03-06 22:09] derickbailey commented on #53
@jarrettmeyer you're trying to set the prefetch limit in this case, correct?

That can be done using the `limit` option on queue definitions:

[code]
Note that this is different than the `queueLimit` option which limits the number of messages in a queue.

It's a bit odd to see the channel prefetch limit set on the queue, but that's how it's done w/ wascally since wascally hides the idea of a chann

[2015-03-06 22:58] jarrettmeyer commented on #53
Thanks for the info. Yes, that's quite hidden, and not what I expected. I tried setting `prefetch: 1`, but that didn't work.

[2015-03-06 22:58] #53 closed

[2015-03-07 02:59] derickbailey commented on #53
Yeah, i agree. I submitted a PR w/ docs changes to explain this in the readme.

[2015-03-09 05:58] #51 closed

[2015-03-09 14:53] bclubb opened #55 "Is the rabbitmq_consistent_hash_exchange plugin required?"
If it's required then it would be useful to have a note about adding the plugin to the server.

`rabbit-plugins enable rabbitmq_consistent_hash_exchange`

If it's not required then mentioning it in the tests section would be helpful for anyone trying out the tests.

[2015-03-16 21:53] dvideby0 opened #57 "message.ack() not working for requests"
After testing multiple releases we discovered that any build since 0.2.0-8 (February 11th) the reply queue will fill up and show all messages as unacked. Here is the sample code we used to test this.

**Publisher**

[code]

**Subscriber**

[code]

[2015-03-16 22:03] dvideby0 commented on #57
It appears to be something in this commit, but I am not sure. Its a rather large commit. https://github.com/LeanKit-Labs/wascally/commit/2fefa6683347bfae9328e8475fe1aa4b5653a9fc

[2015-03-16 22:15] arobson commented on #55
Hi @bclubb - it's actually in the README that it is required for the tests: https://github.com/LeanKit-Labs/wascally#behavior--integration-tests. I can add the instructions like you suggested when I get time later.

[2015-03-16 22:15] #55 closed

[2015-03-16 22:16] #50 closed

[2015-03-16 22:17] arobson commented on #57
@dvideby0 - wow, I'm sorry about this. Thanks so much for all your work tracking this down. I will spend some time this evening trying to figure out where this is broken. I'll update you with what I find.

[2015-03-16 23:11] dvideby0 commented on #57
Thank you very much. We really appreciate the quick response.

[2015-03-17 03:47] arobson commented on #57
@dvideby0 - haven't figured out why yet, but something is preventing the batching mechanism from resolving the ack'd messages. The ack call is definitely marking the messages as acknowledged. If you want to see what I'm seeing:

[code]

[2015-03-17 04:26] arobson commented on #39
@neverfox - I believe this is a similar issue to the one reported in #57. I believe I have a fix which should hit NPM shortly (version 0.2.4). I am sorry it's taken me so long to figure this one out and get a fix. Thank you for providing example code and background information.

[2015-03-17 06:54] arobson commented on #57
@dvideby0 try out 0.2.4 and let me know but this bug should be resolved now. Thanks again for the code to help reproduce the problem.

[2015-03-17 13:41] dvideby0 commented on #57
I was able to test this morning and it appears to be working great. Thank you very much

[2015-03-17 13:41] #57 closed

[2015-03-22 04:12] mehcode opened #59 "How to properly close / release connections"
Running a simple file causes node to hang and never terminate normally.

[code]

Save that line as `index.js` and run as `node index.js`. Node hangs and doesn't terminate.

[2015-03-22 04:20] mehcode commented on #59
Poked at it for a few minutes and found that calling `clearAckInterval` allows node to exit normally.

[code]

-----

I'm not aware of why this interval is needed but can we start the interval after establishing at least one connection and clear it after closing all connections?

[2015-03-22 04:34] mehcode opened #60 "Handling graceful termination of a subscriber"
[code]

How would one accomplish 3 or 4?

[2015-03-22 04:35] mehcode commented on #59
One more thing. If I've called `.configure`, no amount of `.close` or `.clearAckInterval` will get node to exit normally. Any ideas?

[2015-03-22 04:40] longplay opened #61 "SSL Uri not built correctly"
While attempting to make an SSL connection to RabbitMQ, the following error occurred:

```Error: Failed to create queue 'test' on connection 'default' with 'Expected amqp: or amqps: as the protocol; got amqpstestuser:'  ```

where the queue is 'test' and the user name is 'testuser'. The configuration settings are as described in the docs.

(btw, thanks for the cool module)

[2015-03-22 07:07] arobson commented on #59
@mehcode - what's the use case? If you want the process to exit, you can always just process.exit(). Wascally is designed for writing services that communicate via Rabbit. "exiting normally" isn't something we want those to do unless there's an exception.

[2015-03-22 07:08] mehcode opened #63 "Feature Request: Add a URL property on the connection object"
It'd be nice for logging to show `Connected to amqp://...` and it'd make it easier on the usage code if the connection could remember its connection information.

If you're okay with this I don't mind submitting a PR for it.

[2015-03-22 07:11] arobson commented on #63
@mehcode - adding a log statement is fine. The connection does keep connection information. Can you be more specific about what you're trying to accomplish? Wascally already handles things like reconnection and multiple connections. What are you attempting to solve for?

[2015-03-22 07:13] mehcode commented on #59
I just want to publish-and-forget messages. It's a bit strange when my quick node script that I write up to send some messages just sits there and hangs even after closing all connections. In the end, I'll be sending messages while handling an HTTP request. So terminating really isn't an issue.

However, I feel it's just good manners from an API perspective to allow the user to clean up. If `.clos

[2015-03-22 07:15] mehcode commented on #63
I'm not seeing it then. Apologies. If I have a connection object from `rabbit.connections.default` how do I get at the connection information that was used to connect? I'd like to just log the URI it connected to.

[2015-03-22 07:26] arobson commented on #59
@mehcode - you can call process exit after the promise returned from close has resolved. I don't know why you feel that that's hack-ish, I think it actually makes a script's behavior clearer.

There's already a feature to do what you described: https://github.com/leankit-labs/wascally#no-automatic-reply-queue

[2015-03-22 07:26] #59 closed

[2015-03-22 08:03] mehcode commented on #59
@arobson I'm just trying to understand things here.

[code]

If I run that code my process exits too soon and the worker never gets the message.

[2015-03-22 18:14] mehcode commented on #59
Okay. I've got it figured out.

For future reference:

[code]

I created some helper functions to make it easier in my project (MIT license)

[code]

Usage then becomes:

[code]

[2015-03-25 20:07] xiehan opened #64 "Wascally doesn't work with the node 'config' module installed"
I'm setting up a new project and tried to just get Wascally working with the pub/sub demo code. Was stumped for hours on some mysterious errors. Turns out it was all because I was trying to use the node [config](https://github.com/lorenwest/node-config) module; once I hard-coded my configuration settings into the js file and uninstalled the config module, the demo code ran just fine.

I'm hoping t

[2015-03-25 21:51] mehcode commented on #64
@xiehan We're using wascally with node-config and its working fine.

[code]

Perhaps your usage of node-config is wrong?

[code]

[2015-03-26 16:29] xiehan commented on #64
It doesn't take rocket science to use node-config, so unless I am missing something huge, there's something else going on. I'm willing to accept that it might be more of a bug (or at least undocumented/unintended behavior) in node-config rather than in wascally. Here is where I landed after a bit more investigating.

---

First of all, just to recap, this works fine:

[code]
[code]

Code runs just

[2015-03-26 16:46] FGRibreau commented on #64
Just a user-side feedback, at Bringr we use [common-env](https://github.com/FGRibreau/common-env) to allow configuration of every aspect of our default wascally topology.

[2015-04-10 23:59] astanciu opened #65 "replyQueue: false - messages do not get published"
Hi,

Not sure if I'm doing something wrong or if there's an issue elsewhere but I noticed that if I add the connection option `replyQueue: false` the publish() method does not actually publish anything. As soon as the option is removed, messages start going through.

[code]

[2015-04-21 14:39] juliendangers commented on #65
yes, we observe the same thing. There is a silent fail when you set replyQueue to false.

Actually you have to set a replyQueue (even if you don't use it), or you can't publish anything :/

[2015-04-21 23:10] arobson commented on #60
@mehcode - PR #66 *might* address 3 & 4. I need to read up on this, but I thought that SIGINT could disrupt IO. If that's the case, there's nothing the lib can do in terms of further communications with the broker.

The intended behavior is that calling close will shut everything down in an orderly manner. The connection itself shouldn't close until after all outstanding publish calls have resolve

[2015-04-21 23:12] arobson commented on #63
@mehcode - PR #66 addresses this. You'll just need to attach to the 'connected' event and the connection object will have a `uri` property.

[code]

[2015-04-21 23:31] mehcode commented on #60
Nope. This is what [python/celery](https://github.com/celery/celery) does for graceful termination. When SIGINT and SIGTERM are caught the worker returns all messages not being worked on to the queue, stops accepting new messages, and waits (with a configurable timeout) until all tasks currently being worked on are ack'ed before allowing termination.

Now if SIGKILL comes there is nothing we can d

[2015-04-22 08:13] arobson commented on #60
@mehcode yeah, I was remembering the process exit event. As of 0.2.5 you should be safe to do the following:

[code]

The closeAll should not resolve until all of the following have happened:

 * all published messages were sent
 * all queue subscriptions have been stopped
 * all messages received have been ack'd/nack'd to the broker
 * the connection and channels have all closed

As of 0.2.4 ther

[2015-04-27 21:34] #63 closed

[2015-04-27 21:35] #61 closed

[2015-04-27 21:35] arobson commented on #65
@astanciu @juliendangers - this should be fixed in 0.2.5 now. Please let me know if you continue to notice issues related to this feature.

[2015-04-27 21:35] #65 closed

[2015-04-27 21:36] arobson commented on #60
@mehcode - take a look at 0.2.5 - and my previous comment. Let me know if there appear to be issues with the clean-up.

[2015-04-27 21:36] #60 closed

[2015-05-02 06:25] rafaeljesus opened #68 "How to set connection configuration for heroku?"
Hey ya,

Ho do I set wascally connection config via JSON with cloudamqp heroku url?

Cloudamqp heroku ex:
[code]

Cheers

[2015-05-02 11:32] derickbailey commented on #68
Heroku is no different than any other server, if you're using a .json file for the configuration. You only need a json file that you require in to your code. i would change the structure slightly, so you don't have to do anything to manipulate it when you load it.

config.json:

[code]

then load the file in to your code and use the rabbitmq part

[code]

I run wascally on Heroku using my EPA modu

[2015-05-02 11:46] carlhoerberg commented on #68
Instead of creating  static file, just URL parse instead:

[code]

[2015-05-02 13:40] derickbailey commented on #68
@carlhoerberg that's nice! makes it easy to use the environment variable that way.

@rafaeljesus if you are wanting to use the environment variable like that, you can set it with the heroku command line tools:

```heroku config:set CLOUDAMQ_URL="your connection string here"```

[2015-05-02 14:41] rafaeljesus commented on #68
Awesome guys,

@carlhoerberg I like your dynamic approach

@derickbailey yeah your watchmecode helped a lot

I didn't know where vhost was, reading the docs I saw where it is

``
CLOUDAMQP_URL  => amqp://user:pass@server/vhost
``

Thx

[2015-05-11 13:30] episodeyang opened #69 "How to remove binding from a direct exchange?"
Hi @derickbailey @arobson ,

I am trying to elastically scale my servers. Right now I am trying to use a direct exchange for all chat messages between the servers. When a server become online, I register the new server id, creates a new que with the same id, and binds this que to the direct exchange.

Is there a way to remove this binding when the server leaves?

I guess I can use autoDelete: true

[2015-05-11 14:45] derickbailey commented on #69
I would use both `autoDelete: true` and `exclusive: true`. Auto delete will remove the queue once all consumers of that queue have disconnected. Exclusive will ensure that no other consumers can connect to that queue to use it. This way you have a queue that can only be used by the consumer that created it, and it will be deleted when that consumer disconnects.

[2015-05-11 14:46] derickbailey commented on #69
also - why use a direct exchange here? are you trying to only push specific messages to this queue? maybe a fanout exchange would be better? I don't know your situation, so a direct exchange might be appropriate.

[2015-05-11 15:18] juliendangers opened #70 "[Enhancement] Support of TS"
It would be great to add a type definitions file to https://github.com/borisyankov/DefinitelyTyped, so we can use wascally in typescript projects

[2015-05-11 15:32] arobson commented on #70
@juliendangers - we don't use typescript on-purpose so this isn't something we'll add but it would be nice if you were interested in taking that on for folks who do like TS and want support.

[2015-05-11 15:32] #70 closed

[2015-05-11 15:32] #68 closed

[2015-05-11 17:53] episodeyang commented on #69
Thanks @derickbailey !

yes, I'm trying to push specific messages to this que. The service I'm trying to build is a chat backend. In my app, I am doing bunch of collaborative stuff. To push notifications to all participants, I need a room abstraction. The room abstraction provides a way for me to store states inside a server instance, and a way to transform incoming messages before broadcasting to

[2015-05-13 14:14] episodeyang opened #71 "Need examples on setting up connection and ques programmatically (without topology definition)"
Hey @derickbailey

I hit a snag when I was trying to setup the following. I have some code but couldn't get everything to work. I want to:

1. setup a que
2. bind this que to a exchange that is already setup by some other server instance.
3. attach a event handler to this que

using direct exchange. Some example or a simple pointer will greatly help!

[2015-05-13 16:45] derickbailey commented on #71
hey @episodeyang

Each of the methods to create a queue, exchange and binding return a promise. You'll want to either chain them together or `.all` the queue and exchange before creating the binding.

Before creating the layout, though, you need to have a valid connection. I typically use the `.configure` method just for the connection info, and then run from the promise off of that.

Something li

[2015-05-13 17:05] episodeyang commented on #71
Thanks @derickbailey ! Yes I did run into errors because the exchange wasn't setup:)

This answer is super helpful! Thanks!

[2015-05-13 17:05] #69 closed

[2015-05-13 20:11] #71 closed

[2015-06-01 15:07] mehcode commented on #60
@arobson Just want to drop by and say `0.2.5` works perfectly. :100:  I have something slightly different than the above so that it works under `cluster`:

[code]

^ Used in my task lib (which is really just an abstraction over how we use wascally in our projects) -- https://github.com/launchbadge/node-bok

[2015-06-03 08:49] joergd opened #73 "Publish method seems async"
When I run the following program from the command line - say 10 times, I generate only +- 3 new messages on Rabbit. Meaning that sometimes it appears to close all connections before the message has been published. If I leave off the closeAll() line - and run the program say 10 times, I get 10 new messages on Rabbit.

The amqplib sendToQueue method isn't async - if I were to run the scenario below

[2015-06-03 12:47] derickbailey commented on #73
publishing w/ wascally is asynchronous, and i ran in to this problem with my sample code a number of times as well. typically what i do for sample code is use a `setTimeout` of half a second to give the message some time to be published.

in my production systems i've never had an issue with this, because i don't typically shut down connections immediately after publishing a message.

it would be

[2015-06-03 13:00] joergd commented on #73
Yeah I figured it wouldn't be a problem in production - just been carrying on for now. Just made me a little nervous. Thanks for the answer though. (on that sneaky sidenote though - when will rabbus return promises - or use node-style callbacks - so that I can use it with my generator functions :)

[2015-06-03 13:06] derickbailey commented on #73
those are changes i definitely want to make. i built the current API in a bit of a rush, while i was still learning a lot of things about how it worked. haven't had time to change it, but it needs to be done soon.

[2015-06-03 13:09] joergd commented on #73
You're a gentleman. Thank you.

[2015-06-03 13:40] arobson commented on #73
@joergd @derickbailey - wascally returns a promise from publish thy will resolve once rabbit confirms that the message was received by rabbit (it only guarantees that and nothing else). I will try to update the read me before too long to reflect this and hopefully clear up confusion.

[2015-06-03 13:42] reverentgeek commented on #73
Oooo holy promise hand grenade... thy will be done...

[2015-06-03 15:05] derickbailey commented on #73
@arobson oh, nice! i thought i had checked for that returning a promise, previously... i must have missed it. :)

and +1 to avoiding `sendToQueue`. always publish through an exchange!

![image](https://cloud.githubusercontent.com/assets/75190/7963386/0dbe373e-09d8-11e5-98a9-cc78d28d09b6.png)

[2015-06-03 15:55] joergd commented on #73
Cool - thanks for the heads up on the sendToQueue - I can see now how it is a lot more flexible to publish to the exchange and let the bindings deal with the rest.

[2015-06-11 01:51] gideonairex opened #74 "Memory leak on postal.js when using req-res pattern"
## Problem
There was a leak on postal.js on [postal.js/lib/postal.js line 270](https://github.com/postaljs/postal.js/blob/master/lib/postal.js#L270-L281) after benchmarking the http server using wascally as rpc to my services. The problem was that the req-res pattern of wascally uses the messageId as a topic which postal creates a _cache_ base on the topic. The problem with that is that it doesnt

[2015-06-11 10:09] arobson commented on #74
@gideonairex - thanks for providing such a thorough write-up and explaining your setup. Can you tell me which version of postal 'npm list postal'? Fortunately the author is a good friend of mine and we can talk through how to resolve this but I know he's done some work in the recent past on issues related to caching.

[2015-06-11 14:16] gideonairex commented on #74
@arobson - I am using **wascally@0.2.6** which uses the **postal@1.0.6**. Thanks for your prompt response. Let me know if you need more details.

[2015-06-11 14:20] arobson commented on #74
@ifandelse - any simple ways to resolve this?

[2015-06-11 15:02] ifandelse commented on #74
@arobson @gideonairex I should be able to investigate this today, but I added a `resolverNoCache` flag to the postal envelope a while back to help prevent unnecessary caching in a similar use case. I'll see if that's something that wascally could take advantage of as well.

[2015-06-11 23:39] ifandelse commented on #74
![](https://i.imgflip.com/ms1bg.jpg)

[2015-06-11 23:51] gideonairex commented on #74
Thanks @ifandelse!

[2015-06-11 23:54] gideonairex commented on #74
![thank-you-so-much](https://cloud.githubusercontent.com/assets/6386061/8120989/fb1716d0-10d7-11e5-85fa-382caa4e504c.jpg)

[2015-06-12 00:25] #74 closed

[2015-06-15 03:25] dirajkumar opened #76 "How to recover/subscribe to unacknowledged messages?"
Is there any way to either recover the unacknowledged messages and publish back to the queue or subscribe to unacknowledged messages?

[2015-06-15 11:48] derickbailey commented on #76
AFAIK, the only way to do this is for the message consumer to a) `nack` the message, or b) disconnect, which will automatically `nack` the message.

if you're stuck in a state where the code has errored and messages are in limbo, you will need to shut down and restart the process to get the message back in to the queue.

[2015-06-15 15:06] dirajkumar commented on #76
What's happens if I nack the message? Currently I have a queue with couple of unack messages and to get them back into the queue. I need to do the restart?

[2015-06-15 15:12] derickbailey commented on #76
If you nack a message, it will be returned to the end of the line in the queue.

Say a Q has m1, m2 and m3 in that order. If your consumer picks up m1 and then calls `nack` on that message, the Q will now have m2, m3, and m1 in that order. The message has been re-queued, so it will no longer be held by the consumer. It will now be at the back of the line in the queue.

The only time you should nee

[2015-06-15 16:26] dirajkumar commented on #76
@derickbailey  Thanks a lot for a quick response. I really appreciate you for answering my questions patiently. I'm fairly new this and I'm trying to wrap my head around it.
So let's says there is Q and with messages m1, m2, m3 and consumer A subscribed to the Q.
Now consumer gets the m1, m2, m3 since it is subscribed right. Out of the three message m1 is nacked and m2, m3 are acknowledged. m2 and

[2015-06-15 17:42] derickbailey commented on #76
@dirajkumar you're welcome! happy to help when i can. :)

Yeah, in that scenario Consumer A would receive m1 a 2nd time... and 3rd, 4th, 5th, etc. if you keep `nack`ing the same message. so, you have to be careful here. i've seen messages go in to infinite loops by accident, with a consumer nacking them over and over and over again.

If you're looking for a way to prevent Consumer A from receiving

[2015-06-20 12:02] #76 closed

[2015-06-20 12:03] #73 closed

[2015-06-23 14:57] joergd opened #77 "Reconnections and disconnections"
Hey there - I'm trying to figure out how to handle reconnecting to rabbit when I lose the connection - I can't see where I tap into any kinds of disconnect events to try and connect again after losing the connection. Is there a preferred way to handle this?

[2015-07-20 15:11] ryandac opened #81 "npm install wascally does not work"
Hi,

Installing 0.2.7 or 0.2.6 do not work, whereas installing 0.2.5 will work.

The errors I get when installing are:

 Command failed: git clone --template=/Users/admin/.npm/_git_remotes/_templates --mirror git://github.com/ifandelse/riveter.git /Users/admin/.npm/_git-remotes/git-github-com-ifandelse-riveter-git-c54a5909

Thanks

[2015-07-21 08:00] harishbisht8 opened #82 "Rabbitmq only sends another message to a queue after if ack/nack/resject earlier message."
I have single queue and single consumer.
I have noticed that queue doesnt wait for fist message's ack/nack/resject and send further messages to the consumer.
Is there any way to resolve this problem?

[2015-07-21 11:22] derickbailey commented on #82
you can limit the # of messages that a given consumer will process at once, using the "limit" option of the queue:

[code]

This will force the consumer to only process 1 message, and wait until `ack`, `nack`, or `reject` is called on the message before it gets the next one.

See the docs here: https://github.com/LeanKit-Labs/wascally#channel-prefetch-limits

And the AMQP protocol for "consumer pr

[2015-07-21 13:42] harishbisht8 commented on #82
@derickbailey  i  found the same, and it helped
thanks for your reply
cheers

[2015-07-21 13:42] #82 closed

[2015-07-23 03:38] yamii opened #83 "remove specific listener to listened emitted event"
I added listeners to wascally connections for me to listen to fail and connection scenarios after rabbit.configure. I also have to remove specific listener to some events emitted. Is there a way to do that in wascally?
[code]

[2015-07-23 07:39] yamii commented on #83
closing this one. i've already seen how to do it.
https://github.com/postaljs/monologue.js

[2015-07-23 07:39] #83 closed

[2015-07-23 20:38] episodeyang opened #84 "what is the difference between reject and ack"
Hi, Here is a dumb question:

What is the difference between reject and ack?

Thanks!
Ge

[2015-07-23 20:43] derickbailey commented on #84
Hi @episodeyang,

`ack` will acknowledge the message, which tells RabbitMQ that this message has been handled. RabbitMQ will mark the message as acknowledged, and remove it from the queue permanently. (see https://www.rabbitmq.com/amqp-0-9-1-reference.html#basic.ack)

`nack` is a "negative acknowledge" or "not acknowledged" - this tells RabbitMQ that the message was not handled properly. By defaul

[2015-07-26 20:14] alanhoff commented on #77
+1

[2015-07-28 18:28] dirajkumar opened #85 "Channels Limit on Heroku (Cloudamqp)"
Hi,

We're using the cloudamqp server on heroku and they have a limit of allowing 200 channels for free version. We have around 15 queues which are interacting across 4 dynos to send messages between them.
Since the channel management is hidden from us. Is there a way to control them?

--
Thanks
Diraj

[2015-07-31 08:35] pocheng opened #86 "Reply queue message not ack'ed on req-resp pattern"
On request-response pattern, the reply queue has messages piled up not `.ack ()`.  Saw previous issue where this bug should had been fixed.  But it is appear on my end.

Can anyone shed some light on this?  Thanks.

I am using
- wascally 0.2.7,
- node.js 0.10.36
- rabbitMQ 3.5.4

[code]

**receiving msg..**
[code]
**received response...**
[code]

[2015-08-10 18:47] joshrivers opened #87 "Handler to Queue binding"
I was writing up a test app, and ran into a behavior I wasn't expecting and I'm curious if there is a way to resolve it.

I made two wascally connections to my rabbit server, each in their own closure, following the topology pattern from the pubsub pattern. Each handler was subscribed to an independent queue, but handled the same message type. The queues were bound to a single exchange in fanout m

[2015-08-10 20:15] arobson commented on #87
@joshrivers - ultimately the first thing to consider is that wascally was designed for communication between separate processes and will not behave as you'd like if you connect it multiple times. In general, I would say it is an anti-pattern to have multiple connections to Rabbit as AMQP is built to multiplex on a single connection. (The one exception I can think of being connecting to multiple vh

[2015-08-10 21:44] joshrivers commented on #87
I agree with your point about multiple connections to the server from the same process. It was just the first thing I tried to contain the scopes of my subscriptions. The two connections are not the producer and the consumer, but rather two separate consumers.

So, is there a way to have two consumers in the same process reading from separate queues, but receiving the same type of message and to k

[2015-08-10 22:31] derickbailey commented on #87
that can certainly be done by using unique message types between your queues. For example, if you have Q1 and Q2, messages of type "foo.bar" should only go to Q1 while messages of type "baz.quux" should only go to Q2.

In your consumer code, you would use the same connection but have multiple handle statements:

[code]

Your exchange and queue binding should be set up to ensure that only messages

[2015-08-10 22:35] joshrivers commented on #87
This requires the sender to send a separate message for each destination, though, correct? I can't have a single sender and use fanout, and my senders must ultimately know about the destinations rather than having the Rabbit exchanges making those determinations?

[2015-08-10 23:21] derickbailey commented on #87
Your sender knows the message type. You can use the message type as the routing key, and route the messages to the appropriate queue with your exchanges.

I'm not sure I understand the questions, here... can you explain a little more about what you're trying to accomplish?

I'm probably missing something in what you're trying to do. I keep thinking you shouldn't be using a fanout, but it looks lik

[2015-08-10 23:27] derickbailey commented on #87
still trying to understand things based on what you've already said... i'm probably missing something obvious, here.. sorry.

are you looking to have multiple handlers for the same message type, in order to process more messages, faster? or ... what's the goal of having one worker consume messages of the same type, from different queues?

[2015-08-11 13:12] bboalimoe opened #88 "how to set the send interval"
some obj are nacked ... and it'll resend to consumer again ..but the default interval is too quick ..can  i set it a little slower ~ like 1 minute ~ thanks a lot

[2015-08-11 15:00] derickbailey commented on #88
There's two ways to do this:

1) set up a dead-letter exchange (dlx). reject the message, instead of nacking it, so it will go through the dlx. route from the dlx to a queue that has a time to live setting for the message. once the ttl expires, have yet another dlx set up to re-route the message back to the original queue.

or

2) use the Delayed Message Exchange plugin https://github.com/rabbitmq

[2015-08-11 19:34] joshrivers commented on #87
You're probably right that I don't have a sensible use case. Currently I'm working on a piece of oversimplified sample code just to exercise the library. I ran into an edge case and wanted to understand it.

It looks like in a given worker process using wascally, you don't want to have more than one handler with a given message type unless you want all handlers to receive all messages of that type

[2015-08-11 20:11] derickbailey commented on #87
yup. that part of wascally confused me at first, as well. i think there are some potential advantages to doing this, but it is something that has to be accounted for when you design the app.

[2015-08-11 20:19] arobson commented on #87
@joshrivers - the design decision to have handlers decoupled from queues is one that comes from having worked with messaging libs where every handler had to specify a type and channel. This made the code pretty sensitive to topology changes and any use of auto-generated queue names got more complicated.

It wouldn't be impossible to make it so that a handler would only consider messages from a par

[2015-08-11 20:21] joshrivers commented on #87
@arobson Those are important considerations I hadn't thought of. I think it's good the way it is, and hopefully this thread will help make it clear if anyone comes searching later.

[2015-08-13 12:44] BlueHotDog opened #89 "Idle channel"
Huge stability problems while trying to use this amazing library,
Once in a while the consumer becomes idle, nothing in the logs except an infinite loop of rebuilding the topology..

[2015-08-13 12:47] arobson commented on #89
That's really odd. I wouldn't expect that unless there was an issue creating the topology or constant connection loss. Can you provide additional detail about the environment and versions? Anything you can provide that would help me reproduce the issue would be helpful.

[2015-08-15 10:14] BlueHotDog commented on #89
Hi Alex,
I'm not sure what else can i help with, but let me try and give you the
full picture
The consumer works by taking messages, uncompressing them and publishing to
some other exchange,
I run the consumer via forever, and exit for any error.

But once in a while, the consumer disconnects, while the process which
forever monitors, is still live.

If i could only crash the process once it disco

[2015-08-15 14:11] arobson commented on #89
@BlueHotDog would you try setting an environment variable to turn on the DEBUG logging? You can set it and run your service directly like this:

[code]

or by exporting it
[code]
And then re-starting via forever as long as you can see the logs somehow. What I'm interested in finding out is if there is some edge case where Rabbit is forcing a disconnection due to something in wascally or how you're

[2015-08-18 16:44] jwalton commented on #87
Here's two use cases I'm running into right now, where I want to know what queue a message came from:

* I'm working on an existing project, and I want to move away from using `ampqlib` and start using wascally, but in my existing project I use the message type "create" to mean different things on different exchanges.  You can make the argument that I should use unique types project wide, and we c

[2015-08-18 19:26] jwalton opened #90 "wascally ignores return value of amqplib `publish()`"
It looks like wascally [ignores the return value](https://github.com/LeanKit-Labs/wascally/blob/63f29c4b5ad0089b249031ad4849bb927e128d84/src/amqp/exchange.js#L72-L80) of publish.  This is dangerous, because if `publish()` returns false, it means the message wasn't sent, and wascally should be waiting for a 'drain' event from the channel before trying to shovel more messages at it.

[2015-08-19 22:48] jwalton commented on #90
No ignore this, I'm crazy.  :)

[2015-08-19 22:48] #90 closed

[2015-09-01 16:18] joeandaverde opened #91 "There should be a publish timeout"
When publishing and RabbitMQ is unavailable there's no way to cancel publishing due to timeout. This could cause lots of pending publishes and potentially cause a DoS on other resources that depend on publishing the message to the RabbitMQ server (http, db transaction, etc).

[2015-09-14 07:59] BLaurent opened #92 "Req/Res with alternate"
Hi,
Is it possible to create a Req/Res config with an alternate exchange?
Req specify the alternate exchange and the res connect to the exchange with try to create it and do not need to include the alternate exchange.

Regards
Ben

[2015-09-15 08:55] BLaurent commented on #92
I found a way of doing this.
Sorry

[2015-09-15 08:55] #92 closed

[2015-09-25 06:51] subbucomity opened #93 "Question on when channels get closed."
We have an application which uses wascally for rabbitmq. We have about 7 connections to the server but when there is peak load the number of channels open is around 25000 and they never get closed or released. Do we have do anything in our code to close the channels? Due to this we hit more than 1GB of memory on heroku and our worker dynos stop working until we restart. Any help on debugging this

[2015-09-30 23:29] dermidgen commented on #87
I have a similar issue to @joshrivers and @jwalton though I'm not migrating libraries.

My topology consists of several fanout and topic exchanges with a queue for each micro-service that will be listening.

In order to make life a bit easier we had attempted to use Rabbus on top of Wascally, but it was abstracting us a bit too far away from Rabbit.  Instead we have created very simple Publisher a

[2015-10-01 02:51] derickbailey commented on #87
@dermidgen

I can't speak to the rest of the issue... but yes, this will cause issues. there was another discussion (offline) where a wascally user saw channel leaks in excess of 25,000 channels due to re-initializing wascally before sending every message.

you won't have quite that bad of a problem - but it will still cause problems.

also - sorry about rabbus. i made a lot of mistakes when i bui

[2015-10-01 13:07] dermidgen commented on #87
@derickbailey thanks for the quick response. I suspected something was up there.

[2015-10-01 15:05] dermidgen commented on #87
I may be speaking too soon, but preliminary testing indicates that _all_ of my anomalies were resolved by ensuring a single call to `rabbit.configure()` per process.

I think this statement may close this thread: It is critical that all handlers within a process are bound to a single rabbit connection; a single rabbit.configure call.

@jwalton I believe I can answer your question by saying that yo

[2015-10-01 15:31] derickbailey commented on #87
@dermidgen all that thanks for hardwork belongs to @arobson! i'm just trying to be a contributing part of the community. :)

and yes, i agree - would be good to update the docs to mention only calling configure once

[2015-10-13 15:52] benjsicam opened #94 "Upgrade amqplib dependency to v0.4.0"
Upgrade amqplib dependency to v0.4.0

- Node v4.x compatibility
- Bug fixes and enhancements

[2015-10-13 23:08] dermidgen opened #95 "Handler registration against wildcard topics (message types)"
I see https://github.com/postaljs/postal.js is being used underneath to support message handlers and dispatching messages from queues. It would appear that it's a raw pass-thru to `postal.subscribe()` and `postal.publish()`. Therefore, I would assume it should be possible to support postals `*` and `#` based wildcards. See https://github.com/postaljs/postal.js#subscribing-to-a-wildcard-topic-using

[2015-10-19 17:29] celsomarques commented on #40
Hey guys,

I'm facing this issue but I can't reproduce it.

I put wascally on debug mode and I deleted one queue, after that RabbiMQt lost consumers.
How can I handle that?
Is there any event I can listen to start subscription?

Thx

[2015-10-19 21:06] joshrivers commented on #94
Are there any blocking issues on this?

[2015-10-19 23:13] #84 closed

[2015-10-19 23:13] #64 closed

[2015-10-20 03:56] episodeyang commented on #84
Thanks for the explanation!

[2015-10-21 07:23] puncha opened #96 "Is there a way to consume messages without a type?"
We have different sub-systems to publish messages and they are using different clients, such as C#, Python and even Rest API. The messages they published doesn't has a type. We are routing messages to queues by amq.topic exchange. So I'm wondering if wascally can handle this kind of scenarios that consumes the messages from a specific queue rather than a specific type?

[2015-10-22 17:33] rkstar opened #97 "Error: Failed to create exchange 'dead.letters-ex.1' on connection 'default' with 'No endpoints could be reached'"
i'm using cloudamqp for my rabbitmq instance, and wascally for the setup, but i'm getting this error every time i try to start my app:
[code]
here's my config object:
[code]
it says i have no endpoints, but i'm not sure what that means.  it can't reach cloudamqp?

[2015-10-22 17:44] michaelklishin commented on #97
"No endpoints could be reached" means the client could not contact RabbitMQ (or possibly failed to authenticate — although modern clients have [no excuse to not provide a more specific error message](https://www.rabbitmq.com/auth-notification.html)).

[2015-10-22 17:58] Shawn-LeanKit commented on #97
Yes, that error generally means that the client could not connect to your server based on the information you provided. Out of curiosity, are you still getting this error when you have the "port" attribute of the config object uncommented out?

[2015-10-22 18:06] rkstar commented on #97
FYI a previous setup was using RabbitMQ 3.5.4, this deployment is 3.5.6.
@Shawn-LeanKit i tried uncommenting the port but got the same errors.  i'm not provided with a port at cloudamqp

[2015-10-22 18:07] derickbailey commented on #97
you may need to up the timeout when connecting to cloudamqp. add a `timeout: 30000` setting to the connection information. i have had to do that in the past, due to network latency across the interwebs

[2015-10-22 18:11] Shawn-LeanKit commented on #97
Thanks @derickbailey! That was going to be my next suggestion haha

[2015-10-22 18:19] rkstar commented on #97
jacked it up to 60000 and still no love.  this is going to turn out to be something silly, i can feel it.
i've also tried creating a new rmq instance and i tried using one that has worked previously... both have the same problem.

for sure this is me.  but what?  i will dig through some more config on my end and post when i find it.

[2015-10-22 18:21] derickbailey commented on #97
my next guess would be vhost name. if your vhost has a / at the beginning of the name, you need to include it in the vhost setting: `vhost: "/foo"`. if there isn't one in the name, don't include it: `vhost: "foo"`

[2015-10-22 18:46] rkstar commented on #97
# SOLVED
#### it was definitely my problem.

i am using meteor for this deployment (which has been working fine).  the difference between this app and others i've used wascally with is that i was trying to set my `MONGO_URL` and `MONGO_OPLOG_URL` in a config file like this:
[code]
#### meteor didn't like that.
apparently because meteor was upset with my attempt to set the `MONGO_URL` it was blocki

[2015-10-22 18:46] #97 closed

[2015-10-22 18:49] derickbailey commented on #97
:+1:

glad you got it solved! i've never used meteor... so that would have never crossed my mind :)

[2015-10-22 19:15] arobson commented on #94
@benjsicam & @joshrivers - I'll take a look into doing this over the weekend. Sorry for the delay in responding, just been busy :)

[2015-10-22 19:16] arobson commented on #95
@dermidgen I thought it did work this way. If it isn't, that's a short-coming in my test coverage (oops). I'll try to have a look at this over the weekend and see if I can't fix the issue.

[2015-10-22 19:20] arobson commented on #96
@puncha - presently, wascally expects a type specifically so that we don't end up having to create and manage separate queues per type. I might be able to make it so that wascally uses the topic set on the message in place of the type so that the topic is matched when assigning handlers. Do you think that would work for your specific use case?

[2015-10-22 19:21] arobson commented on #93
@subbucomity - If I recall correctly, this was the result of having multiple calls to the configuration and setup happening. If this is still an issue, please feel free to re-open it and I'll do what I can to assist.

[2015-10-22 19:21] #93 closed

[2015-10-22 19:46] arobson commented on #89
@BlueHotDog - any updates on this? Were you able to get things working to your satisfaction or did you have to use a different library to get things working?

[2015-10-22 19:48] arobson commented on #91
@joeandaverde - I'll have to think about this one. I know exactly what you mean about DoS but there's not a "simple" way to address this that doesn't require a decent amount of effort on the application developer's part.

[2015-10-22 20:02] BlueHotDog commented on #89
Hey Alex, I've come up with a great setup, that looks somewhat like this:
[code]

[2015-10-22 21:29] derickbailey opened #98 "memory leak in `wascally.addExchange`"
My system uses the code API to dynamically create various exchanges, queues and bindings, based on configuration data in the system's database. As such, I can't use the `wascally.config` for more than a few key items in my system.

A few weeks ago, I noticed memory in my system slowly increasing and never decreasing... classic memory leak. After some drilling into things, I have isolated the probl

[2015-10-22 23:05] subbucomity commented on #93
Alex, you are correct. This was the result of having multiple calls to the
configuration and setup.

--
Subbu Karuppiah
Comity Designs <http://www.comitydesigns.com> | subbu@comitydesigns.com |
408-772-3221

On Thu, Oct 22, 2015 at 12:21 PM, Alex Robson <notifications@github.com>
wrote:

[2015-10-23 05:16] puncha commented on #96
@arobson , yeah, I think it can work for my case.

[2015-10-23 12:31] arobson commented on #95
@dermidgen - I am currently working on a PR and added an integration test for this specifically which works without modifications to 0.2.8. I'll bump this thread when I've PR'd the changes so you can see the test, but the first argument of handle is passed directly to postal and the messages are routed as I'd expect. Any more details you can provide about your setup might help me better understand

[2015-10-24 16:37] #88 closed

[2015-10-24 16:40] arobson commented on #85
Hi @dirajkumar - wascally will create channels like this:
1 channel per connection to send topology commands (bind, create, etc)
1 channel per connection for the reply queue
1 channel for each queue defined per connection
1 channel for each exchange defined per connection

If you only have 15 queues defined for those 4 dynos, I would expect to see 68 channels in total across 4 connections.

[2015-10-26 07:17] bboalimoe commented on #88
@derickbailey  thanks ~  hiahia

[2015-10-27 21:48] josephfrazier opened #103 "`npm test` errors out with "Error: Cannot find module 'expect.js'""
I'm having some trouble getting the tests to run successfully. In every version of Node I've tried, I get this error. To illustrate the problem, I set up a travis build demonstrating the issue against [this changeset](https://github.com/joseph-onsip/wascally/compare/7e2d3cfc9cf79226bcf7952c0be05321ff9ae84c...7727af34d9a6f1e5aa9b1c6569a014cb06ef8755) (I can clean up my branch and submit a PR if you

[2015-10-29 18:08] dermidgen commented on #95
@arobson Thanks for checking this out. Let me see what I can reproduce on my end.

[2015-10-29 18:52] dermidgen commented on #95
@arobson I can't see to get Integration Test suite to run - so I never see the results of those tests. Instead, I see failures
[code]

[2015-10-29 19:25] dermidgen commented on #95
Okay - using the virtualbox provider from @joseph-onsip (thank you) I do get the integration tests running.  However your new tests for wildcards are failing.

[code]

[2015-10-29 19:29] dermidgen commented on #95
I also see a number of other errors; should I be expecting the test suite to pass in anyway?

I am also not seeing the desired behavior after pointing my local test bed at @arobson:next - meh

[2015-10-29 21:22] joseph-onsip commented on #96
I'm encountering this problem as well. Unfortunately, I haven't yet been able to verify that the fix in #99 works for my use case (I'm still getting my bearings on wascally in general), but I think it's a step in the right direction.

[2015-11-11 14:33] BlueHotDog opened #107 "connection timeout"
we've this code:
[code]

and this keeps happening, we're running some very long running tasks, and our timeout is very long, like 200000, but this is still happening.

[2015-11-24 10:19] BlueHotDog commented on #107
?

[2015-11-24 14:54] derickbailey commented on #107
with a very long running task, you may be experiencing network hiccups or TCP/IP timeouts in your network configuration.

have you set a heartbeat in your connection? you can add a `heartbeat: 30` parameter to your connection string, to set a 30 second heartbeat, for example.

this can help to keep the connection alive during long running tasks or other idle periods of time

[2015-11-24 15:08] BlueHotDog commented on #107
how do i add it to the connection string? and isnt that what timeout supposed to do?

On Tue, Nov 24, 2015 at 4:54 PM Derick Bailey <notifications@github.com> wrote:
with a very long running task, you may be experiencing network hiccups or TCP/IP
timeouts in your network configuration.

have you set a heartbeat in your connection? you can add a heartbeat: 30 parameter to your connection string, to

[2015-11-24 16:13] derickbailey commented on #107
timeout is how long it will wait for the initial connection to be established

heartbeat is a "ping" of sorts, across that connection, to make sure the connection stays alive and to more quickly deal with the connection dying when it does happen

for a connection string, you can add a `?heartbeat=(seconds)` parameter, where (seconds) is the number of seconds you want to use for the hearbeat. `hear

[2015-11-25 15:19] #98 closed

[2015-11-25 15:31] arobson commented on #81
@ryandac are you still having this issue with 0.2.9?

[2015-11-25 15:33] arobson commented on #77
@joergd & @alanhoff - see the PR above. I added explanation of connectivity events (that have been there) to the README.

[2015-11-25 15:33] #77 closed

[2015-11-25 15:35] arobson commented on #85
@dirajkumar - as off PR #99, I made changes the prevent wascally from re-creating queues, exchanges or bindings. Several folks using this library were making the same calls (like configure) repeatedly which caused wascally to setup everything again and this caused multiple channels to get established for the topology every time the call was made.

See if upgrading to 0.2.9 resolves this issue for

[2015-11-25 15:45] arobson commented on #86
@pocheng - I don't think the example code you have will work, and I'd like to suggest some improvements as well.

### Move your configuration out of the request block
I would move configuring the topology into a function that happens as your service starts up and only start the HTTP server after it's in place. This is the pattern we use for our services and it works well. If connectivity is lost,

[2015-11-25 15:45] #91 closed

[2015-11-25 15:46] #94 closed

[2015-11-25 15:47] #89 closed

[2015-11-25 15:48] #96 closed

[2015-11-27 11:46] BlueHotDog commented on #107
But from your code, i'm seeing that the default is 2000, so no way i'm reaching 2000s..

seems like publishing a dummy message with an interval solves the trick,
(setinterval(publishdummymsg,2000))

[2015-11-27 11:48] BlueHotDog commented on #107
ok, seen the PR.
got it!

thanks.

[2015-12-16 09:48] vilasmaciel opened #111 "How to configure an exclusive consumer"
In my use case I need to connect to a third party's RabbitMQ as an exclusive consumer of a queue. The exclusive property available in the settings JSON establish an "exclusive owner", but thats returns an error because I can't create the queue as it already exists. What i need is to configure an exclusive consumer, and I see that amqp supports that, how can I configure this kind of consumer with t

[2015-12-16 14:03] derickbailey commented on #111
are you trying to consume from an existing queue, or create a new one?

[2016-01-03 05:03] djMax opened #112 "node.js 4.2.2 will not exit if wascally is required"
Only difference between my working tape test and the one that never ends is "require('wascally')"... What socket is it opening and how can I close it?

[2016-01-03 05:06] djMax commented on #112
Looks like something to do with ackInterval?

[2016-01-03 14:51] BlueHotDog commented on #107
well, with the new version we've another issue: zombie consumers.

Consumers never removed(if a consumer dies unexpectedly).

[2016-01-03 20:53] BlueHotDog opened #113 "zombie connections(flow connections) never closed"
Hi, i've the following code:
[code]

the reason behind the auto-exit, is as a best practice from node, on-error, exit and retry, this proved to be the most stable solution for a worker use-case

the problem with that, is that we're now seeing a lot of "flow" connections in rabbit, and also zombie consumers.

tried a lot of things :(

nothing helps

[2016-01-04 07:11] arobson commented on #107
@BlueHotDog - I'm not sure how that's possible. When a connection is terminated, the consumers are dropped from RabbitMQ. Wascally will continue to re-connect and re-establish subscriptions (re-creating consumers) whenever possible. If the process itself dies, Rabbit should see the connection loss and reflect that by decrementing the consumer count (since the channels are also destroyed when the c

[2016-01-04 07:17] arobson commented on #113
@BlueHotDog if you want the process to exit on connection failure, why not call process.exit with a non-zero code? I don't think throwing an exception from a callback will cause the process to exit.

I'm not sure what you mean by "flow" connections. Wascally will only establish a single connection. If the connection is lost, it will continuously attempt to try and re-establish the connection, your

[2016-01-04 07:22] arobson commented on #111
@vilasmaciel - as of right now, wascally doesn't give you a way to exclusively consume a queue your service didn't create. I can add this feature to the `startSubscription` call.

[2016-01-04 07:26] arobson commented on #112
@djMax You can call `clearAckInterval` but why not just call process.exit when you want your service to stop? If you have particular use case, that would need something else, let me know.

[2016-01-04 07:27] arobson commented on #103
@josephfrazier are you still seeing this error? I've not successfully reproduced it but I know we've also published a few versions since this bug. Let me know if you're still getting this, otherwise, I'll close the issue soon.

[2016-01-04 07:33] arobson commented on #95
@dermidgen using the provided vagrant instance, I get 140 passing tests. Are you still running into this issue?

[2016-01-04 08:02] arobson commented on #87
Due to the number of issues that have come up for _lots_ of folks around multiple calls to configure, one of the changes we made recently was to make all calls for creation of queues, exchanges, bindings and subscriptions idempotent. Ideally, you should only call configure once, but calling it multiple times no longer causes all the problems it did.

@dermidgen - to answer your other questions:

#

[2016-01-04 08:02] #87 closed

[2016-01-04 08:03] #81 closed

[2016-01-04 08:03] #85 closed

[2016-01-04 08:04] #86 closed

[2016-01-04 16:18] josephfrazier commented on #103
I rebased my travis branch onto the latest master (edc752b6acc1f3fb2ab151277300300d512de875), and reproduced the `npm test` bug here: https://travis-ci.org/josephfrazier/wascally/jobs/100147051#L551.

I was also able to reproduce it locally against master with Node v4.2.4 and npm 2.14.12 by starting up the Vagrant machine, and running `npm test`

[2016-01-04 16:27] djMax commented on #112
I think in general process.exit() is evil. In this particular case I have a variety of automated tests running with tape. Each test sets up and tears down the environment. If wascally doesn't provide a true shutdown method, I have to run code on the "last of all tests", which isn't great. Now I can just clearAckInterval and setAckInterval in each test, but that's a little gross because it makes me

[2016-01-14 21:58] NRaf opened #114 "Declare a queue as HA"
Does Wascally support setting the HA policy on queues (https://www.rabbitmq.com/ha.html)? I've gone through the README and a pass over the code and haven't been able to find anything.

We achieve this in our Java Spring application by setting "x-ha-policy" as "all".

[2016-01-16 20:13] joeandaverde opened #115 "Not clear how reconnect effects subscriptions"
I've configured my connection to RabbitMQ and set up queues without auto subscription.

[code]

(I don't auto subscribe because my handlers aren't registered at configuration time)

Sometime later I start a subscription like so:

[code]

All is working fine until my connection to the RabbitMQ server is lost for whatever reason (in my case usually a restart of the rabbitmq service). At this point m

[2016-01-16 23:05] joeandaverde commented on #115
I figured I'd try to call `startSubscription` for my queue after it reconnects iff the subscription has been started.

[code]
When adding the `rabbit.on('connected', fn)` handler it seems to change the behavior of publishing after disconnects. I start receiving this message:

[code]

[2016-01-18 07:17] NRaf opened #116 "Unable to handle non-JSON messages"
I understand that wascally only supports JSON messages, which is fine. The issue, however, is that there doesn't seem to be any way, that I can see, to recover from an incorrectly formatted message.

For example, if I was to publish a message with content 'test' from the admin console, the following is what I see in the logs:
[code]

That just keeps going until the process crashes. I've tried atta

[2016-01-19 09:40] vilasmaciel commented on #111
@derickbailey I'm trying to consume from an existing one.

@arobson I have solved by activating the "exclusive" property in the subscribe method ('src/amqp/queue.js'). It's a temporal workaround until you add this feature. Thanks a lot!

https://github.com/vilasmaciel/wascally/commit/f81d892df82fa4b81d1ce65d64ea0f64629b14cc

[2016-01-19 09:41] #111 closed

[2016-01-22 15:56] vilmysj opened #117 "Consumer Cancel Notification"
Does Wascally support `Consumer Cancel Notification`?
https://www.rabbitmq.com/consumer-cancel.html

[2016-01-25 23:04] jnystrom opened #118 "Pub/sub, my consumer is only getting called on every other publish."
It seems like my producer is being looked at like a consumer too (producer is listed as consumer in rabbit mq admin ui), and not sure why or how to stop it.  I notice that when I shutdown my producer....my consumer gets the rest of the messages.

@derickbailey, this is the details of what I tweeted at you earlier.  Any advice would be awesome!  Thanks in advance.

config:

[code]

**PublisherServi

[2016-01-25 23:33] jnystrom commented on #118
I really want a worker strategy for the consumers, but am confused as to why my publisher looks to be considered a consumer.  That is my main problem at the moment.  I will work on moving to a worker strategy...1 producer, many workers, only 1 message to 1 worker. @derickbailey

[2016-01-25 23:50] jnystrom commented on #118
@derickbailey, buddy helped me, was a stupid config issue....had the producer set as `subscribe: true`....brain fart!

[2016-01-25 23:50] #118 closed

[2016-01-28 17:46] arobson opened #119 "Wascally does not re-subscribe to manually started subscriptions on reconnection"
If `subscribe` is set to false on a queue when it's defined, then wascally will not automatically re-establish a subscription to the queue if the connection to Rabbit (or the subscriber channel) is lost.

This leads to unexpected behavior that looks like consumers "just dropping" because wascally will transparently re-establish the connection, exchanges, queues and bindings without issues.

Subscr

[2016-02-02 17:31] n321203 opened #120 "Question: Avoid handlers from picking up dead lettered messages?"
Hi, I am learning wascally and like it this far. There's something I don't understand about the handlers:

Fact 1: handlers are not bound to a specific exchange or queue, but to a message `type`.

Fact 2: when using dead-lettering, a rejected message is sent to a dead-letter-exchange with (possibly) a new `routingKey`, but the message `type` is unchanged.

This means that the original handler will

[2016-02-03 00:02] n321203 commented on #120
Update: I have solved this but not setting any message types, and instead setting a routingKey on each message.
This way, the handlers fallback to using routingKeys (since message types are not available on the messages), and the dead-lettering-exchange correctly changes the routingKey.

[2016-02-03 00:02] #120 closed

[2016-02-03 00:02] regaw-leinad commented on #65
This issue seems to have come back up. I am running version 0.2.10, using the exact same sample code as in the OP.

More specifically, in my testing with this code, the messages are not delivered to the queue even if I declare `replyQueue: true`. It only delivers the messages to the queue when `replyQueue` is not defined at all in the `settings.connection` hash.

[2016-02-03 09:46] n321203 opened #121 "Are rejectUnhandled and onUnhandled working when using dead-lettering?"
I am learning Wascally, and I see some strange behavior in relation to rejectUnhandled / onUnhandled in combination with dead-lettering.

I have a single exchange with a dead lettering enabled. If I reject a message inside a handler, the message is correctly routed to the dead-lettering-exchange with a new dead-letter-routing-key.

If I use rabbit.rejectUnhandled(), I expect unhandled messages to

[2016-02-03 17:53] derickbailey opened #122 "fanout exchange should not require message type or routing key"
It looks like wascally requires either a message type or routing key when using a fanout exchange type.

I should be able to produce and consume a message without either, when using a fanout type, as the fanout type completely ignores routing keys anyways.

I don't have any demo code at the moment, but I found this in some tests of my Rabbus library. I tried to publish a message with an empty stri

[2016-02-04 14:55] ilsken commented on #112
+1 Generally I'd consider having to use process.exit to be a bug. I'd prefer if the library cleaned up cleanly, perhaps just with a `shutdown` or `close` method that takes care of this (libraries shouldn't effect the global behavior of the application)

[2016-02-04 15:16] derickbailey commented on #112
i can't agree with this, as a blanket statement.

yes, there will be times when the need for process.exit is a sign of a bug... but when you have a service that needs to listen to external resources, it is expected that the service will keep the process alive and that you must call process.exit when you need to.

wascally is far from the first library to cause this in my apps. nearly every service

[2016-02-04 15:18] djMax commented on #112
Not when you call the method they expose that tells them to shut down. That's all I'm asking for here. This is unquestionably a bad thing to "force." Among other things, it makes integration tests a pain in the arse (basically you have to call clearAckInterval). All I saying here is there should be an explicit shutdown mechanism that is not process.exit.

[2016-02-04 15:20] derickbailey commented on #112
that, i agree with. it was specifically the blanket statement i noted above, that i don't agree with

[2016-02-04 15:21] djMax commented on #112
Definitely fair. I was being flippant. I think a better version is "requiring someone to call process.exit() to cleanup a dependency is evil"

[2016-02-04 15:36] arobson commented on #121
@n321203 - the `rejectUnhandled` and `onUnhandled` only refer to messages delivered to your service that no registered handlers would process. It's there to let you know that your topology is routing messages to your queue but your service was not configured to do anything with them.

Dead-lettering has more to do with how Rabbit handles rejected messages.

[2016-02-04 15:38] ilsken commented on #112
Sorry for the confusion, that is what I meant to say. If a library is forcing the application to call process.exit, I'd consider that a bug. There should be a way to say "I no longer need these resources, please cleanup anything that would keep the event loop alive".

I understand that, however, every library I've used (including express, various database drivers etc) also provide a way to cleanly

[2016-02-04 15:41] derickbailey commented on #112
+1 wascally should cleanup whatever it has running when the `closeAll` method or some other method like that is called.

[2016-02-04 15:46] n321203 commented on #121
Yup, I am intentionally sending messages with type names that I have no registered handlers for. When `rejectUnhandled` is enabled, I expect such messages to get rejected, and then delivered to the dead-lettering-queue

[2016-02-04 15:48] ilsken commented on #112
Does calling `closeAll` and  `clearAckInterval` effectively get the behavior we're looking for?

Just wondering as I'm looking to start using wascally instead of writing my own wrapper but no way to gracefully exit is a deal breaker for me personally (mostly due to the potential for `process.exit` to hide bugs I mentioned in my previous comment).

[2016-02-04 15:48] derickbailey commented on #112
@ilsken  i did a little test based on the suggestion above, and was able to see a simple node script exit properly, with just this:

[code]

the process exits fine. comment out the `clearAckInterval` and it stays alive, as reported.

[2016-02-04 15:51] djMax commented on #112
Yeah, closeall/clearackinterval makes it all work.

[2016-02-04 15:52] derickbailey commented on #112
@arobson i'd suggest a couple of changes to fix this...

* move the call to `setAckInterval` out of the Broker constructor. instead, place it in the Broker's `addConnection` function
* ensure `setAckInterval` does not create a duplicate interval, if there is one already running
* have `clearAckInterval` called from the `closeAll` method

this should effectively make the `closeAll` method clean up

[2016-02-04 16:00] ilsken commented on #112
@derickbailey Awesome, thank you for taking the time to do that! I will do some testing myself later.

+1 for making the close method more consistent with conventions, although I do know breaking changes like that can be messy

A little more complicated but you could also make it so the interval is always cleared if there are no connections and bring it back up if a new connection is added. I have

[2016-02-04 16:03] arobson commented on #112
I'm presently in the middle of a move and kinda slammed with other OSS work. I can likely add a `shutdown` call that would clean everything up as part of the WIP I have for `wascally` now based on internal needs. Thanks for the conversation about it.

[2016-02-04 16:07] arobson commented on #115
@joeandaverde I think this is likely related to issue #119 - wascally really should re-subscribe to any queues that it had subscriptions to during a disconnect. Right now, any queues defined with `subscribe` set to `true` already behave this way. Anything you manually start the subscription to doesn't.

[2016-02-04 16:10] derickbailey commented on #112
as a workaround, anyone that wants to have a clean `shutdown` method for now, can do this:

[code]

with that in place, you can shut down wascally with one call and the node process will be allowed to exit

[code]

or

[code]

[2016-02-05 05:13] arobson commented on #114
@NRaf - as of now, wascally only supports features exposed via AMQP. I don't plan on adding HTTP API call support any time in the immediate future so I recommend setting this via the dashboard and using naming conventions in your queues.

[2016-02-05 05:13] #114 closed

[2016-02-05 05:14] arobson commented on #95
It's been a month and I haven't heard back. The tests for this feature pass so I'm closing it until I understand what's not working and can reproduce the issue.

[2016-02-05 05:14] #95 closed

[2016-02-20 19:56] Rob--W commented on #59
Why is this issue closed? The bug is still present.

I'm using wascally to send data to RabbitMQ. In unit tests, I don't care whether the destination is a REST API or a RabbitMQ endpoint, so I'm only inspecting the data that would be send. I do that by mocking the module that publishes the data.

But because of this bug, the test runner never exits because wascally eternally keeps around a useless

[2016-02-21 01:20] derickbailey commented on #59
not sure why it was closed, but there's discussion around this same issue in #112 with a workaround posted at the bottom.

[2016-02-26 00:59] krishnaglick opened #123 "Wascally does not publish message after starting, stopping, and starting server during tests"
I'm using ActionHero.js and to make tests you start and stop the server each mocha describe block.
http://www.actionherojs.com/docs/#example-test

I have an initializer (just something that runs on server start) that sets up the rabbitMQ/Wascally stuff.

api.mq = require('wascally');
api.mq.configure(api.config.mq) (api.config.mq can be seen here: https://gist.github.com/krishnaglick/f45b79bc8cb74

[2016-02-26 14:28] derickbailey commented on #123
@krishnaglick do you have a test teardown method? if not, you probably need to add one, where you stop your existing wascally subscription before starting the next test.

my best guess is that the wascally subscription is still alive, so the next test is sending a message but the handler from the previous test is picking up the message instead of the handler for the new test.

when you create your

[2016-02-26 15:10] krishnaglick commented on #123
I do have a handler cleanup method. All handlers in the app get added to a single object and in my afterEach block I call cleanupHandlers which iterates through each one and calls its remove method. I decided to double check to ensure that it was getting called correctly and it is.

I've also tried wascally.closeAll(true) and wascally.closeAll(false) in my after block to no effect. :(

[2016-02-26 15:23] derickbailey commented on #123
can you post a gist with a complete test that reproduces the problem?

[2016-02-26 16:07] krishnaglick commented on #123
In the process of whipping up a test project to give to you I discovered the error.
The way ActionHero initializes work is by running until next() is called. Looking through the code I discovered that the initializer for Wascally was calling next, however since Wascally's configure function is async it was actually getting called before the queue was properly configured!
Additionally it didn't lik

[2016-02-26 16:07] #123 closed

[2016-02-26 17:14] derickbailey commented on #123
great! glad you got it figured out

[2016-02-27 04:03] d-nation commented on #59
@mehcode :+1: Thanks.

[2016-02-29 23:53] yamii commented on #115
I'm using the library `rabbus` which handles my `request-respond` queue creation, bindings and the like.

By default it uses `subscribe:false` for queue settings and I set my replyQueue to use `subscribe:true`.

I do this after reconnection:
[code]

it seems to be working fine in my end. I only do startSubscription when I'm sure that rabbit is reconnected and not the first connection. And I didn't

[2016-03-02 06:36] yamii opened #124 "Connection FSM consistency?"
I'm listening to wascally's connection

[code]
When `RabbitMQ Server is online` before I started my gateway `( only holds the Requester objects )`. The state goes to this
`acquired -> connected`

but when
`RabbitMQ Server is initially offline when I started my gateway.`
The state just shoots of to `acquired` when `RabbitMQ server goes online` and doesn't pass through `connected`

I observe that `c

[2016-03-11 21:48] lgomez opened #125 "Setting a consumer tag"
Hello,

Please bare with me as I am learning about Rabbit and Wascally. This question may not make much sense.

I have a number of dynamically-added ephemeral consumers and would like to be able to easily identify them in the management console by setting the consumer tag to something that makes more sense in my domain. Is there a way to set it in Wascally?

This is what I am doing in code to test

[2016-03-12 11:20] rhyslbw commented on #122
+1

[2016-03-17 22:52] 21stio opened #128 "How is concurrency handled?"
Hey,

how is concurrency handled?

When using `rabbit.handle` does it start sth like a worker that pulls a message, waits for  `ack / nack / reject ` and pulls the next one?
Or does just as much as it can?
Or does `rabbit.handle` just pull one message and you have to call it another time to get the next message?

Thanks in advance :)

[2016-03-24 13:55] derickbailey commented on #128
wascally will let your code pull in more messages than it can really handle, really

i once had a backlog of about 65,000 message in a queue due to a bug in my code. i fixed the bug, re-deployed, and ate all of the memory on my server when my code tried to load all 65,000 messages all at once.

to fix that problem, i added the `limit` setting (aka [consumer prefetch limit](https://www.rabbitmq.com

[2016-03-24 15:43] 21stio commented on #128
Awesome, that's the answer I was looking for, thanks a lot

[2016-03-24 17:21] arobson commented on #128
@derickbailey @21stio - setting the consumer limit to 1 will slow things down a lot but guarantee message order.

If you need more concurrency and want to preserve message ordering within a particular context, you can use my [hashqueue](https://github.com/arobson/hashqueue) library to create N in-memory worker queues and have work distributed across those using consistent hashing. You'll need to h

[2016-03-24 17:24] arobson commented on #125
@lgomez I am in the process of replacing wascally with a new library, [rabbot](https://github.com/arobson/rabbot). The API is very similar but they behave differently in terms of how failures are handled. Rabbot sets consumer tags and provides additional connection information to make it easier to determine what process owns which consumers. I don't presently have a feature that would let you cont

[2016-04-15 10:22] krazar opened #129 "Promise is resolved before the message is published"
When publishing a message, it seems that the promise is resolved before the message is published.

To be able to reproduce this issue, you could do something like the following:

[code]

[2016-04-18 14:39] steirico opened #130 "Topology/bindings not rebuilt after reconnection"
Hi there

I use the following code to define a topology and to connect to my RabbitMQ server:
[code]
The code works as expected.

If I close the connection in RabbitMQ's management interface, the connection, all subscriptions and bindings are rebuilt and messaging works as expected. This is the corresponding debug output.
[code]

The problem occurs as soon as the connection to the RabbitMQ server

[2016-05-02 15:23] djMax opened #132 "How does one undo a startSubscription?"
I'm getting exceptions about "Channel ended, no reply will be forthcoming" thrown against some Promise I don't seem to have. If I call destroy on the queue that comes back from startSubscription, I get an error about getMessageCount not existing. Basically I'm unable to start a connection, subscribe to a queue, and then close cleanly.

[2016-05-02 15:51] arobson commented on #129
@krazar - I can look into this, but keep in mind that publish confirmation happens immediately for unroutable messages. If you're getting a resolution before the management console displays the count, that could be due to any number of things. I'll check the logic to see if there's something that would trigger resolution but from what I remember when writing this, I don't resolve the promise until

[2016-05-02 15:52] #128 closed

[2016-05-02 15:52] #125 closed

[2016-05-02 15:54] arobson commented on #119
This is handled in [`rabbot`](https://github.com/arobson/rabbot).

[2016-05-02 15:54] #119 closed

[2016-05-02 15:54] djMax opened #133 "Duplicate default handling"
Seems like this line should go away in favor of the default that's already done in getQueue:

https://github.com/LeanKit-Labs/wascally/blob/edc752b6acc1f3fb2ab151277300300d512de875/src/index.js#L230

[2016-05-02 16:03] openam commented on #119
Are the changes/additions from [arobson/rabbot](https://github.com/arobson/rabbot) going to make it back into wascally, or are they diverging at this point?

[2016-05-02 16:07] arobson commented on #103
@josephfrazier - this issue is corrected in the replacement lib - [rabbot](https://github.com/arobson/rabbot] - which has a very similar API but changes failure semantics because wascally is just too ambitious and can't consistently recover from certain scenarios.

[2016-05-02 16:07] #103 closed

[2016-05-02 16:16] arobson commented on #119
@openam they're diverging. For the most part the APIs are compatible, the reason for the divergence is that wascally has very different failure semantics (it tries to recover always from everything). With rabbot, I'm scaling back the "magic" so folks using it need to own how their service behaves in the face of some kinds of failures.

[2016-05-14 23:21] hgrubst commented on #129
I'm also observing this.
Here is the file I use to reproduce :
[code]
I can shutdown the wifi on my laptop just before the publish, but can still see the `message acked` being displayed.

I tried to track it down in to amqplib. From what I could see, in channel_model.js :+1:
[code]
When the latter gets called, cb is null. I believe this could be the source of the issue.

Sounds pretty critical to

[2016-05-25 15:30] DamonJagger opened #135 "Messages being acknowledge by queue and consumer not being set up after reconnect."
If I start RabbitMQ and then my worker process, everything is fine.
If I start my worker process and then RabbitMQ, or the connection is dropped temporarily, my bindings are correctly recreated except for my consumers and unexpected behaviour on my queue.

<img width="964" alt="screen shot 2016-05-25 at 16 12 23" src="https://cloud.githubusercontent.com/assets/7767049/15545467/4ac986bc-2294-11e6-8

[2016-05-25 15:39] #135 closed

[2016-05-25 15:55] DamonJagger commented on #135
I misunderstood the wording around the rabbit.configure method and how it dealt with promises, and was trying to set up consumers before a connection was established.

Still not entirely sure why the default behaviour was acknowledging messages on the queue, but I should be able to resolve that myself.

Thanks for Wascally, it's great so far.

[2016-05-25 18:09] ryanwilliamquinn opened #136 "Accept a uri from configs"
It is convenient to set a uri in configuration, vs explicitly setting host, user, pw, etc.  It is especially nice when using Heroku, since a service like cloudamqp provides its connection info in uri format.  If you end up creating review apps or cloning an app, you wouldn't have to worry about parsing out the uri into individual components.

[2016-05-26 18:15] rg1220 commented on #60
@arobson, Hey curious if `closeAll` or `close` also handles `reply`?

Here is our shutdown code:
[code]

Just for testing I was adding a setTimeout inside our `rabbit.handle` callback so that when a message comes in it waits 20 seconds to actually be handled and replied to. I would have expected `rabbit.closeAll()` to resolve once that message was actually handled. However, `rabbit.closeAll()` is

[2016-05-26 19:06] rg1220 commented on #60
Upon further inspection, I may have misunderstood what it actually waits for. I believe it's waiting until all **queued** `publish`, `ack`, `nack`, `reject` messages/responses have been processed. It's not waiting for received messages to reply.

[2016-05-26 20:06] ryanwilliamquinn commented on #112
Even when I use clearkAckInterval and closeAll, sometimes the process hangs with an unacked message.  Anything I could be missing?

[2016-05-26 20:48] dvideby0 commented on #132
any update on this? @djMax did you ever get this sorted?

[2016-05-27 00:36] djMax commented on #132
Yeesh. I can't remember. I think we got around it, I'll ask other folks how tomorrow.

[2016-05-27 13:17] dvideby0 commented on #132
Thank you. Much appreciated

[2016-05-27 14:49] arobson commented on #132
@dvideby0 @djMax - Have you taken a look at [rabbot](https://github.com/arobson/rabbot)? It's the successor and intended replacement. The API is almost an exact replica with a few additions. The biggest changes are around some of the failure behaviors because, honestly, wascally tries to recover from too many things. While I don't recall this being an issue we've run across in production, it's in

[2016-06-04 14:41] arobson commented on #129
@hgrubst & @krazar - I have tracked this down and I believe it's fixed in [rabbot](https://github.com/arobson/rabbot) which is the Rabbit lib I'm transferring work to. Long story short: rabbot's API is nearly identical but doesn't attempt to provide the same failure semantics, which is important, since wascally tries to do too much.

The defect was caused because the amqplibs indicate you get a pr

[2016-06-04 14:41] #129 closed

[2016-06-04 18:37] arobson commented on #136
@ryanwilliamquinn - I have added this feature to [rabbot](http://github.com/arobson/rabbot) as of version 1.0.0-11. You can provide a `uri` property on the `connection` and anything not on the URI will get backfilled with the usual defaults. Hope that helps!

[2016-06-04 18:37] #136 closed

[2016-06-04 18:38] arobson commented on #133
@djMax - thanks for the notice, if you haven't seen it yet, this lib is no longer being actively maintained but I did make this change in rabbot. Thanks.

[2016-06-04 18:38] #133 closed

[2016-06-04 18:40] ryanwilliamquinn commented on #136
Hey, thanks for the feedback.  How is rabbot related to wascally?

[2016-06-04 18:41] arobson commented on #116
@NRaf - wascally is no longer under active development. [rabbot](https://github.com/arobson/rabbot) actually has support for custom serialization out of the box and even supports more types by default. Hope that's helpful.

[2016-06-04 18:41] #116 closed

[2016-06-04 18:43] arobson commented on #115
@joeandaverde @yamii - wascally is no longer actively maintained, instead, check out [rabbot](https://github.com/arobson/rabbot). Rabbot does "remember" the subscription status when connectivity was last established and try to re-subscribe once the connection and queue are in place.

[2016-06-04 18:43] #115 closed

[2016-06-04 18:45] arobson commented on #107
@BlueHotDog - wascally is no longer under active development. [rabbot](https://github.com/arobson/rabbot) has taken its place. The API is almost identical with several enhancements. I can't promise you won't have the same problems, but because rabbot doesn't have the same aggressive failure semantics, it's far less likely that you will see zombie connections/channels popping up on your services. I

[2016-06-04 18:45] #107 closed

[2016-06-04 18:47] arobson commented on #112
@djMax - as mentioned in other threads, checkout [rabbot](https://github.com/arobson/rabbot). Wascally had a lot of issues with this sort of thing due to how aggressively it would re-establish channels and connections.

If you're not very careful to have handlers set up for every message type your service can receive, this exact scenario will happen. You might try putting a custom unhandled messag

[2016-06-04 18:47] #112 closed

[2016-06-04 18:48] #113 closed

[2016-06-04 18:55] arobson commented on #121
@n321203 - checkout [rabbot](https://github.com/arobson/rabbot) as wascally is no longer being actively developed.

The scenario you described should work but you would be hard pressed to have it work within the same process since the message handler for the type would need to exist in order to process messages coming from the queue bound to the dead-letter-exchange, but if that were the case, a r

[2016-06-04 18:55] #121 closed

[2016-06-04 18:56] arobson commented on #122
This feature was added to [rabbot](https://github.com/arobson/rabbot), the successor to wascally.

[2016-06-04 18:56] #122 closed

[2016-06-04 18:58] arobson commented on #124
@yamii - [rabbot](https://github.com/arobson/rabbot)'s FSMs have been reworked quite a bit. I'm not certain off the top of my head that they would necessarily address this concern, but it's probably worth having a look. Wascally is no longer actively maintained.

[2016-06-04 18:58] #124 closed

[2016-06-04 19:00] arobson commented on #132
@djMax @dvideby0 - also worth noting: https://github.com/squaremo/amqp.node/issues/250. I _might_ have resolved the edge cases that can trigger this, but it's effectively a race condition in amqlib.

[2016-06-04 19:00] #132 closed

[2016-06-04 19:02] arobson commented on #130
@steirico have a look at [rabbot](https://github.com/arobson/rabbot), wascally's successor. It resolves a lot of the connectivity edge cases that occasionally show up in wascally and has a compatible API with a lot more features. Let me know in issues if you're seeing the same thing in the rabbot repository.

[2016-06-04 19:02] #130 closed

[2016-06-04 19:36] arobson commented on #117
@vilmysj - check out [rabbot](https://github.com/arobson/rabbot), it handles them implicitly. As an example, you can go into the dashboard, delete a queue that has bindings and an active subscription and rabbot will log that a consumer cancel took place, re-create the queue, the binding and re-start the subscription.

[2016-06-04 19:36] #117 closed

[2016-06-04 21:56] hgrubst commented on #129
@arobson Thanks for looking into this. I'll give rabbot a look when I get time. For me this issue was too important to ignore on my project where I need strong delivery guarantees or at least know where something went wrong. In the end I went back to amqplib and rolled my own network failure management.
I still think wascally is a great piece of work, thanks for all the effort you put into this.

[2016-06-05 04:39] yamii commented on #124
@arobson thanks! I'll checkout rabbot

[2016-08-14 12:15] AlexandreRoba opened #137 "Documentation not uptodate"
Dear Wascally team,

According to the [documentation](https://github.com/LeanKit-Labs/wascally#addconnection--options-) the addConnection method should return a promise.
Looking at the code it is returning a connection and not a promise.

Keep doing the good work.

Alex.

[2016-08-14 12:42] AlexandreRoba opened #138 "addExchange raise error when options is null"
Deqr Wascally team,
According to the [documentation](https://github.com/LeanKit-Labs/wascally#addexchange-exchangename-exchangetype-options-connectionname-) the options are optional.
If you do not specify them addExchange raise an error.

This is the code generating the error. It assumes options is an object.

[code]

adding the following line should solve the issue

[code]

thanks,

Alex

[2016-08-16 10:20] AlexandreRoba opened #139 "AMQP Uri support"
Dear all,
I could not find a way to use addconnection using an AMQP URI as defined on the RabbitMQ [documentation](https://www.rabbitmq.com/uri-spec.html). Is this foreseen in a near futur?

thanks,

Alex.

[2018-01-30 19:34] kcarmonamurphy commented on #84
very well explained. thanks @derickbailey !

[2018-10-22 08:14] linxiaobai commented on #84
[code]